{{ define "business"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}

    <title>Document</title>
</head>

<body>
    <!-- Sidebar for mobile de vices -->

    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/create">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
        <!-- <a class="item" href="#">Qui sommes nous ?</a> -->
        <a class="red item" href="/general-conditions">Contidions generales</a>
        <a class="red item" href="/privacy-policy">Politique de confidencialité</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item active" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/create">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui text container">
            <h1 class="ui horizontal divider section-title">SOLUTIONS POUR ENTREPRISES</h1>
            <p>
                Besoin de forfait ou de partenariat pour votre entreprise ? Vous êtes au bon endroit ! Akwaba Express
                offre
                aux entreprises des solutions adaptées à vos besoins, des services de sous-traitances voir des
                partenariats.
                Vous êtes une entreprise intéressée par nos services et vous souhaitez coopérer avec nous, veuillez
                remplir
                le formulaire ci-dessous. Des professionnels vous contacteront dans un bref délai pour des échanges plus
                avancées. Akwaba Express s’engage à garder confidentiel toutes les informations renseignées sur le
                présent
                site.
            </p>
            <div style="margin-top: 40px;">
                <form class="ui form">
                    <div class="field">
                        <label>Nom et prénom</label>
                        <input type="text" name="shipping[first-name]">
                    </div>
                    <div class="field">
                        <label>Nom de l'entreprise</label>
                        <input type="tel" name="shipping[first-name]">
                    </div>
                    <div class="field">
                        <label>Numéro de téléphone</label>
                        <input type="tel" name="shipping[first-name]">
                    </div>
                    <div class="field">
                        <label>Adresse e-mail</label>
                        <input type="tel" name="shipping[first-name]">
                    </div>
                    <div class="field">
                        <label>Message</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="ui fluid button primary" tabindex="0">Envoyer</div>
                </form>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}

</body>
<script>
    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $('.ui.radio.checkbox')
        .checkbox()
        ;
    $('.ui.dropdown')
        .dropdown()
        ;
</script>

</html>
{{ end }}