{{ define "common-head"}}
<link rel="stylesheet" type="text/css" href="../assets/css/semantic.min.css">
<link rel="stylesheet" href="../assets/css/index.css">
<link rel="icon" href="../assets/img/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Roboto:100i,400,500,700&display=swap&subset=latin-ext"
    rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

{{end}}