{{ define "emergency"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <script src="../assets/js/jquery.inputmask.js"></script>

    <title>Document</title>
</head>

<body>
    <!-- Sidebar for mobile de vices -->

    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/create">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
        <!-- <a class="item" href="#">Qui sommes nous ?</a> -->
        <a class="red item" href="/general-conditions">Contidions generales</a>
        <a class="red item" href="/privacy-policy">Politique de confidencialité</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item active" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/create">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui text container">
            <h1 class="ui horizontal divider section-title">LIVRAISONS D’EXTRÊME URGENCE</h1>
            <p class="center">
                Besoin de se faire livrer en urgence ? Remplissez ce présent formulaire dédié au service.
            </p>
            <div style="margin-top: 40px;">
                <form autocomplete="off" class="ui form" id="emergency-form" action="/contact/emergency" method="POST">
                    <div class="two fields">
                        <div class="field required">
                            <label>Nom et prénom de la personne à contacter</label>
                            <input autocomplete="off" type="text" name="name">
                        </div>
                        <div class="field required">
                            <label>Numéro de téléphone</label>
                            <input type="tel" name="phone" class="phone">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field required">
                            <label>Ville / Commune</label>
                            <select class="ui search fluid dropdown" name="cityId" autocomplete="off">
                                <option value=""></option>
                                {{ range .cities }}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="field required">
                            <label>Adresse</label>
                            <input type="text" name="address">
                        </div>
                    </div>
                    <div class="field">
                        <label>Message</label>
                        <textarea name="message" id="" cols="30" rows="8"></textarea>
                    </div>
                    <div class="ui fluid button primary submit" tabindex="0">Envoyer</div>
                </form>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}

</body>
<script>
    $(".phone").inputmask({ "mask": "+225 99 99 99 99" });
    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $('.ui.radio.checkbox').checkbox();
    $('.ui.dropdown').dropdown();

    $('#emergency-form').form({
        on: 'blur',
        inline: true,
        fields: {
            name: {
                identifier: 'name',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez saisir le nom de l\'expediteur'
                    }
                ]
            },
            phone: {
                identifier: 'phone',
                rules: [
                    {
                        type: 'regExp[^\\+225 (\\d{2}) (\\d{2}) (\\d{2}) (\\d{2})]',
                        prompt: 'Veuillez saisir un numéro de mobile valide'
                    }
                ]
            },
            cityId: {
                identifier: 'cityId',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez selectionner une commune'
                    }
                ]
            },
            address: {
                identifier: 'address',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez saisir l\'adresse'
                    }
                ]
            },
        },
    });
</script>

</html>
{{ end }}