{{ define "order"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <script src="../assets/js/jquery.inputmask.js"></script>

    <title>Commande de livraison Akwaba Express</title>
</head>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item active" href="/order/create">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item active" href="/order/create">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container" id="order-first-step">
            <div class="stackable" style="max-width: 640px; margin: 60px auto">
                <div>
                    <h2 class="ui header">COMMANDEZ VOTRE LIVRAISON DE COLIS EN LIGNE</h2>
                    <div class="ui divider"></div>
                    <p>Indiquez le lieu de depart, la destination ainsi que le poids du colis afin de calculer le
                        coût de votre livraison.</p>
                </div>
                <form class="ui form">
                    <div class="field">
                        <label>Depart</label>
                        <div class="ui left icon input">
                            <input id="origin" style="border-radius: 0px;" type="text">
                            <i class="map marker alternate icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Destination</label>
                        <div class="ui left icon input">
                            <input id="destination" style="border-radius: 0px;" type="text">
                            <i class="map marker alternate icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Selectionnez l'interval de poids du colis</label>
                        <select class="ui dropdown" name="weightInterval" id="weightIntervalId">
                            {{range .weightIntervals}}
                            <option value="{{.ID}}">{{ .Name }}</option>
                            {{end}}
                        </select>
                    </div>
            </div>
            <div style="height: 100px;">

            </div>
            </form>
        </div>
    </div>
    <!-- <div class="ui container" style="display: none">
        <div style="margin: 20px 0px">
            <h2 class="section-title">VOTRE COMMANDE</h2>
            <p class="center">Commandez votre livraison en ligne via le formulaire ci-dessous.
            </p>
        </div>
        <div class="ui divider"></div>
        <div class="ae-column stackable">
            <form class="ui form segment" id="order-form" action="/order/create" method="POST">
                <h4 class="ui dividing header">EXPEDITEUR</h4>
                <div class="two fields">
                    <div class="field required">
                        <label>Nom</label>
                        <input type="text" name="senderName">
                    </div>
                    <div class="field required">
                        <label>Téléphone</label>
                        <input type="tel" name="senderPhone" maxlength="16" class="phone">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field required">
                        <label>Commune</label>
                        <select class="ui fluid dropdown" name="senderCityId" autocomplete="disabled">
                            <option value=""></option>
                            {{ range .cities }}
                            <option value="{{.ID}}">{{.Name}}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="field required">
                        <label>Adresse (quartier, secteur, rue)</label>
                        <input type="text" name="senderAddress" placeholder="Ex: Williamsville, rue Champs Élysées">
                    </div>
                </div>
                <h4 class="ui dividing header">DESTINATAIRE</h4>
                <div class="two fields">
                    <div class="field required">
                        <label>Nom</label>
                        <input type="text" name="receiverName">
                    </div>
                    <div class="field required">
                        <label>Téléphone</label>
                        <input type="tel" name="receiverPhone" class="phone">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field required">
                        <label>Commune</label>
                        <select class="ui fluid dropdown" name="receiverCityId" autocomplete="disabled">
                            <option value=""></option>
                            {{ range .cities }}
                            <option value="{{.ID}}">{{.Name}}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="field required">
                        <label>Adresse (quartier, secteur, rue)</label>
                        <input type="text" name="receiverAddress" placeholder="Ex: Williamsville, rue Champs Élysées">
                    </div>
                </div>
                <h4 class="ui dividing header">INFORMATION SUR LE COLIS</h4>
                <div class="two fields">
                    <div class="field required">
                        <label>Poids du colis</label>
                        <select class="ui dropdown" name="weightIntervalId">
                            <option value=""></option>
                            {{range .weightIntervals}}
                            <option value="{{.ID}}">{{ .Name }}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="field required">
                        <label>Nature du colis</label>
                        <input type="text" name="nature" placeholder="Ex: Documents, Chaussures, Sac...">
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="field">
                    <label>Informations supplémentaires (facultatif)</label>
                    <textarea name="note" id="" name="note" cols="30" rows="3"></textarea>
                </div>
                <h4 class="ui dividing header">MODE DE PAIEMENT</h4>
                <div class="grouped fields">
                    <label for="paymentType">Selectionner votre mode paiement:</label>
                    {{ range .paymentTypes }}
                    {{ if eq .ID 1 }}
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="paymentTypeId" value="{{.ID}}" checked tabindex="0"
                                class="hidden">
                            <label>{{.Name}}</label>
                        </div>
                    </div>
                    {{else}}
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="paymentTypeId" value="{{.ID}}" tabindex="0" class="hidden">
                            <label>{{.Name}}</label>
                        </div>
                    </div>
                    {{ end }}

                    {{ end }}
                </div>
                <div class="ui divider"></div>
                <div style="text-align: right;">
                    <button class="ui right labeled icon button submit primary" style="margin: 20px 0px;" tabindex="0">
                        <i class="right arrow icon"></i>
                        Continuer
                    </button>
                </div>

            </form>
        </div>
    </div> -->
    <div class="ui bottom fixed menu" style="height: 75px;">
        <div id="price">
            Coût de la livraison
        </div>
        <div class="ui active text small loader" id="price-loader" style="display: none">Calcule du coût de la livraison
            en
            cours...</div>
    </div>
    <!--Footer-->
    {{ template "footer" . }}
    </div>

</body>

</html>
<script src="../assets/js/order.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3yF2GOndSJqklHFWyMoEIHus91xFYjaI&libraries=places&callback=initMap"></script>

{{end}}