{{ define "pricing"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {{ template "common-head" .}}

    <title>Document</title>
</head>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/create">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item active" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
        <!-- <a class="item" href="#">Qui sommes nous ?</a> -->
        <a class="red item" href="/general-conditions">Contidions generales</a>
        <a class="red item" href="/privacy-policy">Politique de confidencialité</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/create">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item active" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container">

            <div>
                <div id="pricing-form">
                    <h2 class="section-title">COÛT DE VOTRE LIVRAISON</h2>
                    <div class="ui divider"></div>
                    <div class="pricing" id="loading" style="display: none; text-align: center;">
                        <img src="../assets/img/ball_loader.gif" style="max-height: 300px; max-width: 300px" alt="">
                        <p>Patientez s'il vous plait...</p>
                    </div>
                    <div class="pricing" id="pricing">
                        <div class="ui form">
                            <div class="two fields">
                                <div class="field">
                                    <label>Origine</label>
                                    <select class="ui search dropdown" name="origin" id="originId">
                                        <option value=""></option>
                                        {{ range .cities }}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Destination</label>
                                    <select class="ui search dropdown" name="destination" id="destinationId">
                                        <option v3ue=""></option>
                                        {{ range .cities }}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label>Poids du colis</label>
                                <select class="ui dropdown" name="weightInterval" id="weightIntervalId">
                                    <option value=""></option>
                                    {{range .weightIntervals}}
                                    <option value="{{.ID}}">{{ .Name }}</option>
                                    {{end}}
                                </select>
                            </div>
                            <div style="margin: 30px 0px;">
                                <div class="ui fluid button large submit primary" tabindex="0">Calculer le coût
                                    de
                                    la
                                    livraison</div>
                            </div>
                        </div>
                        <div class="pricing" id="price" style="display:none">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Footer-->
        {{template "footer" .}}
    </div>

</body>
<script>
    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $('.ui.radio.checkbox').checkbox();
    $('.ui.dropdown').dropdown();

    $('#pricing-form').form({
        inline: true,
        fields: {
            origin: {
                identifier: 'origin',
                rules: [
                    {
                        type: 'empty',
                        prompt: "Veuillez la commune d'origin"
                    }
                ]
            },
            destination: {
                identifier: 'destination',
                rules: [
                    {
                        type: 'empty',
                        prompt: "Veuillez la commune de destination"
                    }
                ]
            },
            weightInterval: {
                identifier: 'weightInterval',
                rules: [
                    {
                        type: 'empty',
                        prompt: "Veuillez la commune un interval de poids"
                    }
                ]
            },
        },
        onSuccess: async function (event, fields) {
            showLoader();

            event.preventDefault();
            console.log("form is ok")
            var originId = $("#originId").val();
            var destinationId = $("#destinationId").val();
            var weightIntervalId = $("#weightIntervalId").val();

            await fetchPrice(originId, destinationId, weightIntervalId);
        }
    });

    function showLoader() {
        $("#pricing").hide()
        $("#loading").show()
    }

    function hideLoader() {
        $("#loading").hide()
        $("#pricing").show()
    }


    function createPriceCard(price, origin, destination, weightInterval) {
        return `<div class="">
                    <div class="ui content">
                        <h4 class="ui header">Cout de la livraison:</h4>
                        <div class="ui divider"></div>
                        <h2 class="price-text">${price} FCFA</h2>
                        <p>Origine: ${origin}</p>
                        <p>Destination: ${destination}</p>
                        <p>Poids: ${weightInterval}</p>
                        <div class="ui divider"></div>
                        <a class="ui large primary button" href="/order/create" style="margin-top: 20px">Commander une
                            livraison <i class="right arrow icon"></i>
                        </a>
                    </div>
                </div>`
    }

    function showPrice() {
        $("#price")
            .html(createPriceCard(2500, "Adjamé", "Yopougon", ">5 - 10kg"))
            .show();

        $('html, body').animate({
            scrollTop: $("#price").offset().top
        }, 1000);
    }
    function fetchPrice(originId, destinationId, weightIntervalId) {
        axios.get(
            `/pricing/compute?originId=${originId}&destinationId=${destinationId}&weightIntervalId=${weightIntervalId}`
        ).then(res => {
            console.log(res.data);
            hideLoader();
            showPrice();

        }).catch(err => {
            console.log(err);
            hideLoader();
        })
        return
    }

</script>

</html>
{{end}}