{{define "pw-changed"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <title>Réinitialisation du mot de passe</title>
</head>

<body>
    <div class="ui middle aligned center aligned grid stackable">
        <div class="column">
            <div class="center">
                <a href="/">
                    <img src="../assets/img/logo_red.png" class="image logo">
                </a>
            </div>
            <h2 class="ui red image header">
                <div class="content center">
                    Réinitialisation du mot de passe
                </div>
            </h2>
            <p style="font-size: 18px;" class="center">Votre mot de passe est maintenant réinitialisé avec succès et
                vous pourrez vous
                connecter sur votre compte Akwaba Express.</p>
            <a href="/auth/login" class="ui fluid large primary submit button">Se connecter</a href="/auth/login">
        </div>
    </div>
</body>


</html>
{{end}}