{{define "recovery"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <title>Récupération du mot de passe</title>
</head>

<body>
    <div id="recovery-app">
        <div class="blank">
            <div class="center" style="margin-top: 150px;">
                <a href="/">
                    <img src="../assets/img/logo_red.png" class="image logo">
                </a>
            </div>
            <h2 class="ui center">
                Récupération du mot de passe
            </h2>
            <form class="ui large form" id="recovery-form" @submit.prevent="sendEmailForRecovery">
                <div class="ui positive message" v-if="done">Un e-mail a été envoyé à {displayEmail} avec un lien pour
                    créer
                    un nouveau
                    mot
                    de passe.</div>
                <div class="ui negative message" v-else-if="!done && error">{error}</div>
                <div class="ui stacked">
                    <div class="field">
                        <label for="email">Entrez votre adresse e-mail</label>
                        <input type="text" name="email" v-model="email" v-validate="{required: true, email: true}"
                            data-vv-as="email" autocomplete="disable">
                        <span class="error-label" v-cloak>{ errors.first('email') }</span>
                    </div>
                    <div class="center">
                        <button class="ui primary submit button"
                            v-bind:class="{loading: loading, disabled: loading || done}">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script>
    const dictionary = {
        en: {
            custom: {
                email: {
                    required: 'Veuillez saisir une adresse e-mail valide',
                    email: 'Veuillez saisir une adresse e-mail valide',
                }
            }
        }
    }

    Vue.options.delimiters = ['{', '}'];
    Vue.use(VeeValidate, {
        mode: 'lazy',
        events: 'blur',
        dictionary: dictionary,
    });
    //  action="/auth/recovery" 
    // action="/auth/registration" method="POST"

    var recoveryApp = new Vue({
        el: "#recovery-app",
        data() {
            return {
                email: null,
                displayEmail: null,
                done: false,
                loading: false,
                error: null,
            }
        },
        methods: {
            sendEmailForRecovery: async function () {
                this.loading = true;
                this.done = false;
                const isValid = await this.$validator.validate();

                if (!isValid) {
                    this.error = null;
                    this.loading = false
                    return
                }
                try {
                    let response = await axios.post("/auth/recovery?email=" + this.email);
                    console.log(response);
                    this.loading = false;
                    this.error = null;
                    if (response.status === 200) {
                        this.displayEmail = response.data.email;
                        this.email = null;
                        this.done = true;
                    }
                } catch (error) {
                    this.loading = false;
                    console.log(error.response)
                    if (error.response) {
                        this.error = error.response.data.message;
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        // Something happened in setting up the request and triggered an Error
                        console.log('Error', error.message);
                    }
                }
            }
        },
    })
    // $('#recovery-form').form({
    //     fields: {
    //         email: {
    //             identifier: 'email',
    //             rules: [
    //                 {
    //                     type: 'email',
    //                     prompt: 'Veuillez saisir une adresse e-mail valide'
    //                 }
    //             ]
    //         },
    //     }
    // });
</script>

</html>
{{end}}