{{define "recovery"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <title>Connexion</title>
</head>

<body>
    <div class="ui middle aligned center aligned grid stackable">
        <div class="column">
            <div class="center">
                <a href="/">
                    <img src="../assets/img/logo_red.png" class="image logo">
                </a>
            </div>
            <h2 class="ui red image header">
                <div class="content">
                    Récupération du mot de passe
                </div>
            </h2>
            {{if .error }}
            <div class="ui negative message transition">
                <div class="header">
                    {{.error}}
                </div>
            </div>
            <form class="ui large form" id="recovery-form" action="/auth/recovery" method="POST">
                <div class="ui error message"></div>
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" value="{{.email}}"
                                placeholder="Entrez votre adresse e-mail">
                        </div>
                    </div>
                    <div class="ui fluid large primary submit button">Continuer</div>
                </div>
            </form>
            {{else}}
            <form class="ui large form" id="recovery-form" action="/auth/recovery" method="POST">
                <div class="ui error message"></div>
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="Entrez votre adresse e-mail">
                        </div>
                    </div>
                    <div class="ui fluid large primary submit button">Continuer</div>
                </div>
            </form>
            {{end}}
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script>
    $('#recovery-form').form({
        fields: {
            email: {
                identifier: 'email',
                rules: [
                    {
                        type: 'email',
                        prompt: 'Veuillez saisir une adresse e-mail valide'
                    }
                ]
            },
        }
    });
</script>

</html>
{{end}}