{{ define "settings"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>AKWABA EXPRESS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../assets/js/jquery.inputmask.js"></script>
</head>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item active" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/create">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
        <!-- <a class="item" href="#">Qui sommes nous ?</a> -->
        <a class="red item" href="/general-conditions">Contidions generales</a>
        <a class="red item" href="/privacy-policy">Politique de confidencialité</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item active" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/create">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>


        <!--Home page content-->
        <div class="ui container">
            <div id="settings" style="visibility:hidden">
                <h1>DONNÉES DU COMPTE</h1>
                <div class="ui negative message" v-if="error.hasError">
                    <p>
                        {error.message}
                    </p>
                </div>
                {{ if .success }}
                <div class="ui success message" v-if="!error.hasError">
                    <p>
                        {{.success}}
                    </p>
                </div>
                {{else if .error}}
                <div class="ui negative message" v-if="!error.hasError">
                    <p>
                        {{.error}}
                    </p>
                </div>
                {{ end }}
                <form autocomplete="off" @submit="checkFormAndSubmit" class="ui form" action="/profile/settings"
                    method="POST">
                    <div class="field">
                        <label>Nom et prénom</label>
                        <input type="text" name="name" id="name" v-model="user.fullName">
                    </div>
                    <div class="field">
                        <label>Téléphone</label>
                        <input type="text" name="phone" id="phone" v-model="user.phone">
                    </div>
                    <div class="field">
                        <label>E-mail</label>
                        <input type="text" name="email" id="email" v-model="user.email">
                    </div>
                    <div class="field">
                        <label>Ville / Commune</label>
                        <select class="ui search fluid dropdown" v-model="user.cityId" name="cityId">
                            {{ if eq .user.City.ID 0 }}
                            <option value=""></option>
                            {{ end }}
                            {{ range .cities }}
                            {{if eq .ID $.user.City.ID }}
                            <option value="{{.ID}}" selected>{{.Name}}</option>
                            {{else }}
                            <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                            {{ end }}
                        </select>
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" name="address" v-model="user.address">
                    </div>
                    <div class="field required">
                        <label>Mot de passe requis pour les modificaiton</label>
                        <input type="password" name="password" id="password" placeholder="Votre mot de passe">
                    </div>
                    <button class="ui button fluid primary" type="submit">Modifier</button>
                </form>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" .}}
    </div>


</body>
<script>
    var app = new Vue({
        el: '#settings',
        delimiters: ['{', '}'],
        data: {
            error: {
                hasError: false,
                message: '',
            },
            user: {
                fullName: '{{.user.FullName}}',
                phone: '{{.user.Phone}}',
                email: '{{.user.Email}}',
                cityId: '{{ .user.City.ID }}',
                address: '{{ .user.Address }}',
            },
        },
        methods: {
            validatePhone: function (phone) {
                if (phone.length != 16) {
                    return false;
                }
                var re = /^\+225 (\d{2}) (\d{2}) (\d{2}) (\d{2})/;
                return re.test(phone);
            },
            newError: function (msg) {
                this.error.hasError = true;
                this.error.message = msg;
                $('html, body').animate({
                    scrollTop: $("#settings").offset().top
                }, 500);
            },
            validEmail: function () {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(this.user.email);
            },
            checkFormAndSubmit: function (e) {
                e.preventDefault();

                if (!this.validatePhone($("#phone").val())) {
                    this.newError('Veuillez saisir un numéro de mobile valide');
                    return
                }
                if (this.user.fullName.length < 4) {
                    this.newError('Votre nom et prénom ne peuvent pas être trop courts');
                    return
                }
                if (!this.validEmail()) {
                    this.newError('Veuillez saisir une adresse e-mail valide');
                    return
                }
                if ($("#password").val().length < 4) {
                    this.newError('Mot de passe requis, votre mot de passe doit contenir au moins 4 caractères');
                    return
                }
                e.target.submit();
            },
        },
        created: function () {
            console.log(this.user);
        },
        mounted: function () {
            $("#settings").css('visibility', 'visible');
            $("#phone").inputmask({ "mask": "+225 99 99 99 99" });
        },
    })
    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $(document).ready(function () {

        $('.ui.dropdown').dropdown();
    });
</script>

</html>
{{ end }}