{{define "tracking"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head"  .}}
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/create">Commande</a>
        <a class="red item active" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
        <!-- <a class="item" href="#">Qui sommes nous ?</a> -->
        <a class="red item" href="/general-conditions">Contidions generales</a>
        <a class="red item" href="/privacy-policy">Politique de confidencialité</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/create">Commande</a>
                    <a class="red item active" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container" id="tracking-app">
            <div id="tracking-input">
                <h2 class="section-title">SUIVI DE COLIS</h2>
                <div>
                    <p class="center">
                        Suivez vos colis en indiquant le numéro de suivi ci-dessous.
                    </p>
                </div>
                <div style="margin-top: 20px;">
                    <form autocomplete="off" @submit="checkFormAndSubmit">
                        <div v-bind:class="{error: error.hasError, loading: loading}" class="ui icon input large"
                            style="width: 100%">
                            <input type="text" id="trackingInput" v-model="orderId"
                                placeholder="Entrez le numéro de suivi du colis">
                            <i class="red search icon link" v-on:click="checkFormAndSubmit"></i>
                        </div>
                        <div id="error-msg" class="ui negative message" v-if="error.hasError" v-clock>
                            <div class="header">
                                {error.message}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div id="tracking-wrapper">
                <div id="tracking-result" v-if="trackings.length > 0" v-clock>
                    <div class="tracking-item" v-for="tracking in trackings">
                        <div class="ui card raised fluid">
                            <div class="content track-head" v-on:click="showFullTracking($event)">
                                <div style="margin: 10px 0px">
                                    <span class="track-header">{tracking.parcel.nature}</span>
                                    <span class="right floated">
                                        <!-- <i class="check icon large"></i> -->
                                        <i class="shipping fast  icon large"></i>
                                    </span>
                                </div>
                                <div class="event-content">
                                    <p>{tracking.orderId}</p>
                                    <p>{tracking.events[tracking.events.length - 1].status}</p>
                                </div>
                            </div>
                            <div class="ui card fluid details" v-clock>
                                <div class="content">
                                    <div class="ui small feed">
                                        <div class="event" v-for="t in tracking.events">
                                            <div class="content">
                                                <div class="event-title">
                                                    <span>{t.status}</span>
                                                </div>
                                                <div class="event-content">
                                                    <span>{t.time.formatted}, </span>
                                                    <span>{t.place}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="track-summary">
                                        <div>
                                            <span>Poids: </span>
                                            <span>{tracking.parcel.weight} kg</span>
                                        </div>
                                        <div>
                                            <span>Expediteur: </span>
                                            <span>{tracking.parcel.senderFullName}</span>
                                        </div>
                                        <div>
                                            <span>Destinataire: </span>
                                            <span>{tracking.parcel.receiverFullName}</span>
                                        </div>
                                        <div>
                                            <span>Destination: </span>
                                            <span>{tracking.parcel.destination}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a style="color:#B02025">Imprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{if not .user.ID }}
            <div class="center">
                <p class="center">Inscrivez-vous pour enregistrer les numéros de suivi de vos colis et recevoir des
                    notifications.
                </p>
                <a href="/auth/registration" class="ui button red">Inscription</a>
            </div>
            {{ end }}
        </div>
    </div>
    <!--Footer-->
    {{ template "footer" . }}
    </div>
</body>
<script>
    var app = new Vue({
        el: '#tracking-app',
        delimiters: ['{', '}'],
        data: {
            trackings: [],
            loading: false,
            orderId: '',
            error: {
                hasError: false,
                message: '',
            },
        },
        methods: {
            checkFormAndSubmit: function (e) {
                e.preventDefault();
                this.fetchTracking();
            },
            saveToLocalStorage: function () {
                sessionStorage.setItem("trackings", JSON.stringify(this.trackings));
            },
            getFromLocalStorage: function () {
                this.trackings = JSON.parse(sessionStorage.getItem("trackings")) || [];
            },
            fetchTracking: function () {
                if (this.loading === true) {
                    return
                }
                if (this.orderId == '') {
                    this.error.hasError = false;
                    return
                }
                if (isNaN(this.orderId)) {
                    this.error.hasError = true;
                    this.error.message = "Numéro de suivi invalide";
                    return
                }
                this.error.hasError = false;
                this.error.message = ''

                // avoid duplicating tracking item
                for (var i = 0; i < this.trackings.length; i++) {
                    if (this.trackings[i].orderId == this.orderId) {
                        return
                    }
                }
                this.loading = true;
                axios.get(`/order/track?id=${this.orderId}`)
                    .then(res => {
                        this.loading = false;
                        this.orderId = '';
                        this.trackings.unshift(res.data.tracking);
                        this.saveToLocalStorage();
                    })
                    .catch(err => {
                        this.loading = false;
                        console.log(err)
                        this.error.hasError = true;
                        this.error.message = err;
                    })
            },
            showFullTracking: function (e) {
                $(e.target).closest(".tracking-item").find(".details").toggle(300);
            },
        },
        created: function () {
            this.getFromLocalStorage();
            $('.ui.radio.checkbox').checkbox();
            $('.ui.dropdown').dropdown();

            if (window.location.href.split("#").length < 2) {
                return
            }
            if (window.location.href.split("#")[1].length < 1) {
                return
            }
            this.orderId = window.location.href.split("#")[1];
            if (this.orderId == '' && this.trackings.length > 0) {
                console.log(this.orderId);
                return
            }
            this.fetchTracking();
        },
    });


    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }


</script>

</html>
{{end}}