{{ define "order"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <script src="../assets/js/jquery.inputmask.js"></script>

    <title>Document</title>
</head>
<style>
    .logo {
        width: 150px;
        height: 60px;
    }

    #mobile-header,
    #desktop-header {
        margin: 0px 0px !important;
    }

    @media only screen and (min-width: 768px) {
        #mobile-header {
            display: none !important;
        }

        #desktop-header {
            display: block !important;
        }

        .section-title {
            font-size: 2rem !important;
        }
    }

    @media only screen and (max-width: 768px) {
        #mobile-header {
            display: block !important;
        }

        #desktop-header {
            display: none !important;
        }

        .section-title {
            font-size: 1.5rem !important;
        }
    }

    .section-title {
        padding: 20px 0px;
        color: #B02025 !important;
        text-align: center;
    }

    .column {
        max-width: 700px;
        margin: 40px auto;
    }

    .form-section {
        margin: 25px 0px;
    }

    .red-logo {
        background-color: #b02025 !important;
    }
</style>

<body>
    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item" style="margin-top: 10px"> {{.user.FullName}} </a>
        <a class="red item">Mes commandes</a>
        <a class="red item">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item active" href="/order/create">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
        <!-- <a class="item" href="#">Qui sommes nous ?</a> -->
        <a class="red item" href="#">Contidions generales</a>
        <a class="red item" href="#">Politique de confidencialité</a>
    </div>
    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item active" href="/order/create">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            {{.user.FullName}} <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item">Mes commandes</a>
                                <a class="black item">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container">
            <div style="margin: 20px 0px">
                <h2 class="section-title">VOTRE COMMANDE</h2>
            </div>
            <div class="ui divider"></div>
            <div class="column stackable">
                <form class="ui form segment" id="order-form" action="/order/create" method="POST">
                    <h4 class="ui dividing header">EXPEDITEUR</h4>
                    <div class="two fields">
                        <div class="field required">
                            <label>Nom et prénom</label>
                            <input type="text" name="senderName">
                        </div>
                        <div class="field required">
                            <label>Téléphone</label>
                            <input type="tel" name="senderPhone" maxlength="16" class="phone">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field required">
                            <label>Ville / Commune</label>
                            <select class="ui search fluid dropdown" name="senderCityId" autocomplete="off">
                                <option value=""></option>
                                {{ range .cities }}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="field required">
                            <label>Adresse</label>
                            <input type="text" name="senderAddress">
                        </div>
                    </div>
                    <h4 class="ui dividing header">DESTINATAIRE</h4>
                    <div class="two fields">
                        <div class="field required">
                            <label>Nom et prénom</label>
                            <input type="text" name="receiverName">
                        </div>
                        <div class="field required">
                            <label>Téléphone</label>
                            <input type="tel" name="receiverPhone" class="phone">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field required">
                            <label>Ville / Commune</label>
                            <select class="ui search fluid dropdown" name="receiverCityId" autocomplete="off">
                                <option value=""></option>
                                {{ range .cities }}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="field required">
                            <label>Adresse</label>
                            <input type="text" name="receiverAddress">
                        </div>
                    </div>
                    <h4 class="ui dividing header">INFORMATION SUR LE COLIS</h4>
                    <div class="two fields">
                        <div class="field required">
                            <label>Poids du colis</label>
                            <select class="ui search dropdown" name="weightIntervalId">
                                <option value=""></option>
                                {{range .weightIntervals}}
                                <option value="{{.ID}}">{{ .Name }}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="field">
                            <label>Nature</label>
                            <input type="text" name="parcelNature">
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="field">
                        <label>Note</label>
                        <textarea name="note" id="" name="note" cols="30" rows="3"></textarea>
                    </div>
                    <h4 class="ui dividing header">MODE DE PAIEMENT</h4>
                    <div class="grouped fields">
                        <label for="paymentType">Selectionner votre mode paiement:</label>
                        {{ range .paymentTypes }}
                        {{ if eq .ID 1 }}
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="paymentTypeId" value="{{.ID}}" checked tabindex="0"
                                    class="hidden">
                                <label>{{.Name}}</label>
                            </div>
                        </div>
                        {{else}}
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="paymentTypeId" value="{{.ID}}" tabindex="0" class="hidden">
                                <label>{{.Name}}</label>
                            </div>
                        </div>
                        {{ end }}

                        {{ end }}
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui fluid submit button primary" style="margin: 20px 0px" tabindex="0">
                        Continuer
                    </div>
                </form>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script>
    $(".phone").inputmask({ "mask": "+225 99 99 99 99" });

    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $('.ui.radio.checkbox')
        .checkbox()
        ;
    $('.ui.dropdown')
        .dropdown()
        ;
    $('#order-form').form({
        on: 'blur',
        inline: true,
        fields: {
            senderName: {
                identifier: 'senderName',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez saisir le nom de l\'expediteur'
                    }
                ]
            },
            senderPhone: {
                identifier: 'senderPhone',
                rules: [
                    {
                        type: 'regExp[^\\+225 (\\d{2}) (\\d{2}) (\\d{2}) (\\d{2})]',
                        prompt: 'Veuillez saisir un numéro de mobile valide'
                    }
                ]
            },
            senderCityId: {
                identifier: 'senderCityId',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez selectionner une commune'
                    }
                ]
            },
            senderAddress: {
                identifier: 'senderAddress',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez saisir l\'adresse'
                    }
                ]
            },

            receiverName: {
                identifier: 'receiverName',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez saisir le nom du destinataire'
                    }
                ]
            },
            receiverPhone: {
                identifier: 'receiverPhone',
                rules: [
                    {
                        type: 'regExp[^\\+225 (\\d{2}) (\\d{2}) (\\d{2}) (\\d{2})]',
                        prompt: 'Veuillez saisir un numéro de mobile valide'
                    }
                ]
            },
            receiverCityId: {
                identifier: 'receiverCityId',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez selectionner une commune'
                    }
                ]
            },
            receiverAddress: {
                identifier: 'receiverAddress',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez saisir l\'adresse'
                    }
                ]
            },
            weightIntervalId: {
                identifier: 'weightIntervalId',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Veuillez selectionner un interval de poids'
                    }
                ]
            },
        },
        // onSuccess: function (e, fields) {
        //     console.log("form is valid");
        //     $(".submit").removeClass('disabled');
        //     e.preventDefault();
        // },
        // onFailure: function (formErrors, fields) {
        //     event.preventDefault();
        //     $("#submit-btn").addClass('disabled');
        // }
    });

</script>

</html>

{{end}}