{{define "registration"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}

    <script src="../assets/js/jquery.inputmask.js"></script>
    <title>Connexion</title>
</head>
<style>
    body>.grid {
        height: 100%;
    }

    .image {
        margin-top: -50px;
    }

    .column {
        max-width: 430px;
    }

    .logo {
        max-width: 200px;
    }

    .center {
        text-align: center;
    }

    .red-link {
        color: #B02025 !important;
    }
</style>

<body>
    <div class="ui middle aligned center aligned grid stackable">
        <div class="column">
            <div class="center">
                <a href="/">
                    <img src="../assets/img/logo_red.png" class="image logo">
                </a>
            </div>
            <h2 class="ui red image header">
                <div class="content">
                    Créer un compte
                </div>
            </h2>
            {{ if .user }}
            <div class="ui negative message transition">
                <div class="header">
                    {{.error}}
                </div>
            </div>
            <form class="ui large form" action="/auth/registration" method="POST" id="registration-form">
                <div class="ui stacked segment">
                    <div class="ui error message"></div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="name" value="{{.user.FullName}}" placeholder="Nom et prénom">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            <input type="email" name="email" value="{{.user.Email}}" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            <input type="tel" name="phone" value="{{.user.Phone}}" id="phone" maxlength="16"
                                placeholder="Numéro de mobile">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="ui fluid large primary submit button">Submit</div>
                    <div style="margin-top: 10px;">
                        En vous inscrivant, vous acceptez les <a href="#" class="red-link">conditions d' utilisation</a>
                    </div>
                </div>

            </form>
            {{else}}
            <form class="ui large form" action="/auth/registration" method="POST" id="registration-form">
                <div class="ui stacked segment">
                    <div class="ui error message"></div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="name" placeholder="Nom et prénom">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            <input type="email" name="email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            <input type="tel" name="phone" id="phone" maxlength="16" placeholder="Numéro de mobile">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password2" placeholder="Répétez le mot de passe">
                        </div>
                    </div>
                    <div class="ui fluid large primary submit button">Submit</div>
                    <div style="margin-top: 10px;">
                        En vous inscrivant, vous acceptez les <a href="#" class="red-link">conditions d' utilisation</a>
                    </div>
                </div>

            </form>
            {{end}}
            <div class="ui divider">

            </div>
            Si vous êtes déjà inscrit,<a href="/auth/login" class="red-link">Connectez-vous</a>
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script>
    $("#phone").inputmask({ "mask": "+225 99 99 99 99" });

    $('#registration-form').form({
        fields: {
            name: {
                identifier: 'name',
                rules: [
                    {
                        type: 'minLength[3]',
                        prompt: 'Votre nom et prénom ne peuvent pas être trop courts'
                    },
                ]
            },
            email: {
                identifier: 'email',
                rules: [
                    {
                        type: 'email',
                        prompt: 'Veuillez saisir une adresse e-mail valide'
                    }
                ]
            },
            phone: {
                identifier: 'phone',
                rules: [
                    {
                        type: 'minLength[16]',
                        prompt: 'Veuillez saisir un numéro de mobile valide'
                    }
                ]
            },
            password: {
                identifier: 'password',
                rules: [
                    {
                        type: 'minLength[4]',
                        prompt: 'Votre mot de passe doit contenir au moins 4 caractères'
                    }
                ]
            },
            password2: {
                identifier: 'password2',
                rules: [
                    {
                        type: 'match[password]',
                        prompt: 'Les mots de passe saisis ne sont pas identiques.'
                    }
                ]
            },

        }
    });
</script>

</html>

{{end}}