{{ define "about"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>QUI SOMMES NOUS ?</title>
</head>


<body>
    <!-- Sidebar for mobile de vices -->

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/my_orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Réglages</a>
        <a class="red item" href="/auth/logout">Déconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item active" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item active" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/my_orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Réglages</a>
                                <a class="black item" href="/auth/logout">Déconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container" style="margin-top: 30px">
            <h1 class="ui horizontal divider section-title">QUI SOMMES NOUS ?</h1>
            <div>
                <p>
                    Akwaba Express en Côte d’Ivoire est une entreprise ivoirienne spécialisée dans la livraison express
                    de
                    colis, de documents et marchandises et offre notamment des services conformes aux normes modernes.
                    Akwaba
                    Express met à la disposition des entreprises et des particuliers des services de qualité, en misant
                    cependant sur la rapidité et la fiabilité, battant ainsi le défi du temps qui s’impose dans les rues
                    abidjanaises.

                    Akwaba Express a parfaitement connaissance des défis et réalités dont fait face la ville d’Abidjan
                    et y
                    a
                    alors trouvé des solutions adaptées dans le but d’offrir à sa clientèle un service optimal.

                    Akwaba Express s’engage à offrir une flexibilité dans le déplacement de vos colis dans toute la zone
                    d’Abidjan.

                </p>
            </div>
            <h1 class="ui horizontal divider section-title">NOS AGENCES ?</h1>

            <div id='map'></div>
            <div style="margin-top: 30px">
                <h3 class="ui dividing header center">TROUVEZ L'AGENCE LA PLUS PROCHE DE CHEZ VOUS </h3>
                <div class="ui grid stackable center" style="margin-top: 20px;">
                    <div class="four wide column">
                        <h3 class="ui header">
                            Adjamé Williamsville
                        </h3>
                        <div class="phone"><a href="tel:+22520370174">+225 20 37 01 74</a></div>
                    </div>
                    <div class="four wide column">
                        <h3 class="ui header">
                            Adjamé Saint Michel
                        </h3>
                        <div class="phone"><a href="tel:+22520370174">+225 20 37 01 74</a></div>
                    </div>
                    <div class="four wide column">
                        <h3 class="ui header">
                            Abobo
                        </h3>
                        <div class="phone"><a href="tel:+22520370174">+225 20 37 01 74</a></div>
                    </div>
                    <div class="four wide column">
                        <h3 class="ui header">
                            Cocody
                        </h3>
                        <div class="phone"><a href="tel:+22520370174">+225 20 37 01 74</a></div>
                    </div>
                    <div class="four wide column">
                        <h3 class="ui header">
                            Koumassi
                        </h3>
                        <div class="phone"><a href="tel:+22520370174">+225 20 37 01 74</a></div>
                    </div>
                    <div class="four wide column">
                        <h3 class="ui header">
                            Yopougon
                        </h3>
                        <div class="phone"><a href="tel:+22520370174">+225 20 37 01 74</a></div>
                    </div>
                    <div class="four wide column">
                        <h3 class="ui header">
                            Port-Bouët
                        </h3>
                        <div class="phone"><a href="tel:+22520370174">+225 20 37 01 74</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        {{template "footer" ""}}
    </div>
</body>
<script>
    function initMap() {
        var myLatLng = { lat: 5.345317, lng: -4.024429 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: { lat: 5.363538, lng: -4.018281 },
            map: map,
            title: 'Akwaba Express',
        });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI1zZziSSz60c-2tYf2HteTS77X71kWI4&callback=initMap"></script>

</html>
{{ end }}