{{ define "about"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
    <title>QUI SOMMES NOUS ?</title>
</head>

<body>
    <!-- Sidebar for mobile de vices -->

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item active" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item active" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui text container">
            <h1 class="ui horizontal divider section-title">QUI SOMMES NOUS ?</h1>
            <div>
                <p>
                    Akwaba Express en Côte d’Ivoire est une entreprise ivoirienne spécialisée dans la livraison express
                    de
                    colis, de documents et marchandises et offre notamment des services conformes aux normes modernes.
                    Akwaba
                    Express met à la disposition des entreprises et des particuliers des services de qualité, en misant
                    cependant sur la rapidité et la fiabilité, battant ainsi le défi du temps qui s’impose dans les rues
                    abidjanaises.

                    Akwaba Express a parfaitement connaissance des défis et réalités dont fait face la ville d’Abidjan
                    et y
                    a
                    alors trouvé des solutions adaptées dans le but d’offrir à sa clientèle un service optimal.

                    Akwaba Express s’engage à offrir une flexibilité dans le déplacement de vos colis dans toute la zone
                    d’Abidjan.

                </p>
            </div>
            <h1 class="ui horizontal divider section-title">NOS AGENCES ?</h1>

            <div id='map'></div>
            <div style="margin-top: 30px">
                <h4 class="ui dividing header">TROUVEZ L'AGENCE LA PLUS PROCHE DE CHEZ VOUS </h4>
                <div class="ui grid stackable" style="margin-top: 20px;">
                    <div class="eight wide column">
                        <h3 class="ui header">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                Agence d’Adjamé Williamsville (siège social)
                                <div class="sub header">Tél: +225 35 64 63 34</div>
                            </div>
                        </h3>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui header">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                Agence d’Abobo
                                <div class="sub header">Tél: +225 35 64 63 34</div>
                            </div>
                        </h3>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui header">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                Agence d’Adjamé Saint Michel
                                <div class="sub header">Tél: +225 35 64 63 34</div>
                            </div>
                        </h3>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui header">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                Agence de Cocody Faya
                                <div class="sub header">Tél: +225 35 64 63 34</div>
                            </div>
                        </h3>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui header">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                Agence de Koumassi
                                <div class="sub header">Tél: +225 35 64 63 34</div>
                            </div>
                        </h3>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui header">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                Agence de Yopougon
                                <div class="sub header">Tél: +225 35 64 63 34</div>
                            </div>
                        </h3>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui header">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                Agence de Port-Bouët
                                <div class="sub header">Tél: +225 35 64 63 34</div>
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        {{template "footer" ""}}
    </div>
</body>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYmVob3ViYSIsImEiOiJjanU0MTIzOXQwcW91NDFvNXlvZWl4dW14In0.kyNIuwfn3oV0wihAwPBgpA';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [-4.024429, 5.345317],
        zoom: 11, // starting zoom
    });
    var adjameDallas = new mapboxgl.Marker()
        .setLngLat([-4.024868, 5.335219])
        .addTo(map);
    var aboboGare = new mapboxgl.Marker()
        .setLngLat([-4.024353, 5.421043])
        .addTo(map);
    var adjameWilly = new mapboxgl.Marker()
        .setLngLat([-4.022073, 5.371246])
        .addTo(map);
    var cocodyAngre = new mapboxgl.Marker()
        .setLngLat([-3.983412, 5.394719])
        .addTo(map);

    var cocodyRti = new mapboxgl.Marker()
        .setLngLat([-4.002949, 5.342152])
        .addTo(map);
    var marcory = new mapboxgl.Marker()
        .setLngLat([-3.971517, 5.298594])
        .addTo(map);
    var treichville = new mapboxgl.Marker()
        .setLngLat([-4.005960, 5.291583])
        .addTo(map);
    var yopougon1 = new mapboxgl.Marker()
        .setLngLat([-4.070927, 5.317396])
        .addTo(map);
    var yopougon2 = new mapboxgl.Marker()
        .setLngLat([-4.096257, 5.356710])
        .addTo(map);
</script>

</html>
{{ end }}