{{ define "conditions"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>Conditions Générales d’utilisation</title>
</head>

<body>


    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item active" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>

        <!--Home page content-->

        <div class="ui text container" id="conditions">
            <h1 class="ui header centered aligned">Conditions Générales d’utilisation</h1>
            <p>
                Sur ce connaissement, « AKWABA EXPRESS » est le transporteur et vous êtes l’« expéditeur ». En utilisant
                les
                services de Akwaba Express l’expéditeur accepte, en son nom et au nom de toutes les autres parties ayant
                un
                intérêt
                dans l’envoi, que les conditions générales de transport de Akwaba Express entrent en vigueur à partir du
                moment où
                Akwaba Express accepte l’envoi, sauf si convenu autrement par écrit avec un agent dûment autorisé
                d’Akwaba
                Express.
                Le terme « envoi » désigne tous les documents ou les colis expédiés sous un même connaissement, et qui
                pourront être
                transportés par tout moyen choisi par Akwaba Express, y compris par avion, par route ou par tout autre
                mode
                de
                transport. Par « connaissement », il conviendra d’entendre toute étiquette produite par les systèmes
                automatisés
                d’Akwaba Express ou par le système d’un fournisseur indépendant approuvé par Akwaba Express, tout
                manifeste
                d’expédition, déclaration sommaire ou lettre de chargement électronique qui incorporera les présentes
                Conditions
                générales.
            </p>

            <ol>
                <li>
                    Par la présente, l’expéditeur accepte les conditions et les dispositions contenues dans ce
                    document, ainsi
                    que les
                    tarifs, les catégories, les taux, la réglementation et les conditions de transport du transporteur,
                    qui
                    lient
                    l’expéditeur, le destinataire et le propriétaire de la marchandise.
                </li>
                <li>
                    Express déploiera tous les efforts raisonnables sur le plan commercial pour offrir un service de
                    collecte
                    et de
                    livraison, ainsi que pour organiser le transport aérien ou terrestre des expéditions, par
                    l’entremise des
                    services
                    de transport d’Akwaba Express ou de ceux d’un tiers, ou encore par sous-traitance. L’expéditeur
                    accepte
                    toutes
                    modifications du trajet suivi par l’envoi, y compris toutes éventuelles escales intermédiaires
                    jugées
                    appropriées
                    par Akwaba Express. Akwaba Express déploiera tous les efforts raisonnables pour livrer l’envoi
                    conformément
                    aux
                    délais de livraison habituels d’Akwaba Express, mais ces délais ne sont pas impératifs.
                    L’expéditeur accepte qu’aucune date de livraison ne soit fixée aux termes des présentes. Akwaba
                    Express se
                    porte
                    responsable des dommages mais ne l’est pas pour des pertes causées par les retards.
                </li>
                <li> Pour les services de colis et de courrier communal, le montant minimum d’un ramassage est de 700
                    F CFA.
                </li>
                <li>
                    Akwaba Express refuse de transporter tout fret si l’expéditeur ne consent pas au contrôle de
                    celui-ci.
                    L’expéditeur accepte de fournir en tout temps des renseignements vrais et exacts.
                </li>
                <li>
                    L’expéditeur, à titre de principal ou de mandataire, garantit à Akwaba Express que le contenu de
                    l’envoi
                    peut
                    légalement être transporté à bord d’un aéronef ou d’un autre transporteur réglementé par le
                    gouvernement
                    ivoirien et
                    qu’il ne s’agit ni d’une marchandise prohibée en vertu des lois et des règlements applicables ni
                    d’une
                    matière
                    dangereuse et qu’il est conforme à tous lois et règlements en matière de douane, d’importation et
                    d’exportation ou
                    de nature autre et qu’il est correctement emballé ou enveloppé aux fins projetées, au besoin. Tous
                    les
                    articles de
                    courrier applicables doivent faire l’objet d’une inspection douanière et d’un dédouanement.
                </li>
                <li>
                    Akwaba Express n’accepte pas de transporter des articles que l’entreprise n’est pas autorisée à
                    transporter ou
                    qui ne peuvent pas être transportés de façon sécuritaire, ainsi que les marchandises décrites dans
                    la
                    politique de
                    l’entreprise sur les envois non acceptés, les marchandises dangereuses (sauf si elles sont
                    approuvées par
                    Akwaba
                    Express) et les articles de valeur intrinsèque, notamment les animaux, la monnaie, les denrées
                    périssables,
                    l’alcool, les plantes, les métaux et les pierres précieuses, les titres négociables ou tout autre
                    instrument, la
                    fourrure, les armes, y compris les pièces d’armes, les munitions, les restes humains, la
                    pornographie et les
                    drogues
                    illégales : Akwaba Express décline toute responsabilité pour ces articles et ces marchandises.
                    Akwaba
                    Express se
                    réserve le droit de modifier à tout moment la politique sur les envois non acceptés sans préavis. La
                    dernière
                    version de la politique sur les envois non acceptés d’Akwaba Express peut être consultée à l’adresse
                    :
                    <a href=" https://www.akwabaexpress.ci"> https://www.akwabaexpress.ci</a>

                </li>
                <li>

                    L’expéditeur garantit à Akwaba Express que l’envoi est suffisamment emballé pour résister à la
                    manutention
                    régulière pendant le transport, ainsi qu’aux conditions liées au transport, comme des changements
                    soudains
                    de
                    température ou de pression pendant le transport. Tous les colis doivent être marqués, bien scellés
                    et
                    correctement
                    adressés pour assurer la sécurité de leur contenu pendant le transport. Les inscriptions spéciales
                    exigées
                    par le
                    service postal doivent également apparaître sur le côté de l’adresse de tout article de courrier qui
                    contient des
                    matières dangereuses, réglementées ou périssables. Les inscriptions exigées doivent être appliquées
                    avec un
                    matériau
                    non soluble ou tout autre matériau qui ne s’efface ou qui ne déteint pas. L’expéditeur doit
                    s’assurer que
                    son colis
                    respecte toutes les exigences applicables au marquage et à l’étiquetage pour éviter que l’article de
                    courrier ne
                    soit refusé par le personnel du service postal ou des transporteurs aériens responsable de la
                    réception.
                </li>
                <li>
                    L’expéditeur consent à l’inspection de tous les colis. Akwaba Express se réserve le droit, sans y
                    être
                    obligé,
                    d’ouvrir et d’inspecter un envoi sans préavis à l’expéditeur. Akwaba Express se réserve le droit de
                    refuser
                    tout
                    objet qui présente un danger ou qui est susceptible, à la seule discrétion de Akwaba Express, de
                    souiller,
                    de gâter
                    ou d’endommager d’autres marchandises ou équipements, ou dont le transport n’est pas réaliste au
                    niveau
                    économique
                    ou opérationnel, ou encore qui est mal empaqueté ou emballé.
                </li>
                <li>
                    L’expéditeur s’engage à indemniser et à dégager de toute responsabilité Akwaba Express de tout
                    préjudice
                    ou
                    dommage et de toute réclamation, dette ou perte résultant de tout manquement de la part de
                    l’expéditeur à se
                    conformer aux politiques, aux lois, aux règlements, aux normes postales et aux conventions
                    applicables et de
                    tout
                    manquement de l’expéditeur à respecter les obligations aux présentes, ainsi que les affirmations et
                    les
                    garanties
                    suivantes :
                    <ul>
                        <li>
                            toutes les informations fournies par l’expéditeur ou ses représentants sont complètes
                            et
                            exactes ;
                        </li>
                        <li>
                            l’expéditeur a protégé l’envoi de toute interférence non autorisée pendant la
                            préparation,
                            l’entreposage et le
                            transport de celui-ci Akwaba Express ;
                        </li>
                        <li>
                            l’envoi est correctement marqué, adressé et conditionné pour en assurer le transport
                            sécuritaire dans
                            le cadre
                            d’une manutention conforme aux normes habituelles ;
                        </li>
                        <li>
                            les lois et les règlements en matière de douane, d’importation et d’exportation et les
                            autres
                            lois,
                            règlements
                            et normes postales applicables ont été respectés ;
                        </li>
                        <li>
                            le connaissement a été signé par le représentant habilité de l’expéditeur et les
                            présentes
                            conditions
                            générales
                            constituent pour l’expéditeur une obligation valide et exécutoire.
                        </li>
                    </ul>
                </li>
                <li>La responsabilité d’Akwaba Express est strictement limitée aux pertes directes. La « valeur
                    réelle »
                    d’un
                    document ou d’un colis représente le coût de sa réparation ou de son remplacement, et ne comprend
                    pas
                    l’utilité
                    commerciale ou la valeur spéciale que lui donne l’expéditeur ou toute autre personne. Akwaba Express
                    n’assume aucune
                    responsabilité en ce qui concerne les dommages indirects de quelque nature que ce soit, notamment,
                    une perte
                    de
                    revenus, de profits, de marchés, d’intérêts, d’occasions d’affaires, d’utilisation de la marchandise
                    ; une
                    perte ou
                    un préjudice découlant de la nature même de la marchandise ; une perte ou un préjudice spécial ;
                    toute autre
                    perte
                    indirecte ; ou un manquement à d’autres ententes, même si le risque d’une telle perte est porté à
                    l’attention
                    d’Akwaba Express avant ou après que l’entreprise ait accepté l’envoi.</li>
                <li>
                    Chaque envoi est transporté sur la base d’une responsabilité limitée, conformément aux
                    dispositions
                    fournies
                    ci-dessus. Si l’expéditeur estime que ces limites sont insuffisantes, il lui appartient de faire une
                    déclaration
                    spéciale et de souscrire à l’assurance offerte par Akwaba Express par l’entremise d’une compagnie
                    d’assurance
                    moyennant un coût supplémentaire ou de prendre ses propres dispositions en matière d’assurance. Le
                    cas
                    échéant,
                    l’expéditeur assumera tous les risques de perte ou de préjudice, sauf comme énoncé aux présentes.
                    L’assurance ne
                    couvre PAS les pertes ou les préjudices indirects ni les pertes ou les préjudices causés par des
                    retards.
                    Une
                    assurance allant jusqu’à 60.000 F CFA par colis est automatiquement offerte par l’assurance. Toutes
                    les
                    réclamations
                    d’assurance sont réglées directement entre l’expéditeur et l’assurance, et l’ID de suivi doit être
                    soumis
                    avec toute
                    demande à cette fin.
                </li>
                <li>
                    Akwaba Express ne peut pas être tenu responsable d’une interruption de service due à des
                    circonstances
                    indépendantes de sa volonté. Ces circonstances comprennent, notamment, l’indisponibilité d’une
                    personne ou
                    son refus
                    d’accepter la livraison de l’envoi ; les cas de force majeure ; les actes de puissance publique ;
                    les actes
                    ou les
                    manquements des douanes ou des autres autorités ; l’insuffisance de l’information fournie par
                    l’expéditeur ;
                    la mise
                    en application de réglementation en matière de sécurité imposée par le gouvernement, ou autrement en
                    vigueur
                    dans le
                    pays de destination; les émeutes, les grèves ou tout autre conflit de travail; les troubles civils;
                    les
                    perturbations des réseaux de transport terrestre ou aérien, comme les phénomènes climatiques; et les
                    catastrophes
                    naturelles.

                </li>
                <li>
                    Les réclamations sont limitées à une réclamation par envoi, et le règlement de ladite
                    réclamation
                    constituera le
                    règlement définitif de toute perte ou de tout préjudice en relation avec celle-ci. L’expéditeur doit
                    communiquer
                    toute réclamation pour perte d’un envoi ou pour dommages à la direction Akwaba Express. Les
                    notifications de
                    réclamation seront remises en main propre ou par courrier. Toutes les réclamations doivent être
                    soumises par
                    écrit à
                    Akwaba Express dans les quatre-vingt-dix jours qui suivent la date à laquelle Akwaba Express a
                    accepté
                    l’envoi,
                    faute de quoi l’entreprise n’assumera aucune responsabilité, quelle qu’elle soit. Tous les cartons
                    d’expédition
                    originaux, l’emballage et le contenu doivent être rendus disponibles à l’inspection d’Akwaba Express
                    et
                    conservés
                    jusqu’à ce que la réclamation soit conclue. Akwaba Express n’est pas tenu de donner réponse à une
                    réclamation, tant
                    et aussi longtemps que tous les frais de transport n’ont pas été acquittés.
                </li>
                <li>

                    Le paiement est dû quinze jours à compter de la date de facturation. Si le paiement n’est pas
                    effectué
                    dans un
                    délai de quinze jours Akwaba Express se réserve le droit d’ajouter des frais de paiement tardif de
                    1,5% au
                    solde
                    impayé et de suspendre les services jusqu’au paiement intégral des sommes en souffrance, y compris
                    des
                    intérêts, ou
                    de résilier immédiatement les services.
                </li>
                <li>
                    Akwaba Express se réserve le droit d’établir le tarif d’expédition en fonction du poids
                    volumétrique ou
                    du poids
                    réel. Il s’agit du « poids taxé », qui peut être facturé séparément. Le tarif d’expédition peut être
                    établi
                    en
                    fonction du poids désigné par le client, du poids réel ou du poids volumétrique, selon le plus
                    élevé. Tout
                    envoi
                    peut être pesé ou mesuré à nouveau par Akwaba Express pour en confirmer le poids.
                </li>
                <li>
                    L’expéditeur garantit le paiement du port dû et des avances. Toute pénalité ou autre taxe
                    pertinente
                    imposée par
                    les autorités du pays de destination sera facturée au prix coûtant à l’expéditeur.
                </li>
                <li>
                    Tout litige découlant directement ou indirectement de ces conditions générales sera soumis à la
                    compétence non
                    exclusive des tribunaux et régi par la loi du pays d’origine de l’envoi, l’expéditeur étant soumis
                    de
                    manière
                    irrévocable à une telle juridiction, à moins qu’elle ne soit contraire aux lois applicables.
                </li>
                <li>

                    La nullité ou la nature non exécutoire d’une disposition n’affectera d’aucune façon les autres
                    dispositions de
                    ces conditions générales.
                </li>
                <li>

                    Akwaba Express se réserve le droit de modifier les conditions générales en tout temps et sans
                    préavis.
                    La
                    dernière version des conditions générales d’Akwaba Express peut être consultée sur le site Internet
                    :
                    <a href=" https://www.akwabaexpress.ci"> https://www.akwabaexpress.ci</a>
                </li>
            </ol>
        </div>
        <!--Footer-->
        {{ template "footer" .}}
    </div>


</body>
<script>
    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $(document).ready(function () {

        $('.ui.dropdown').dropdown();
    });
</script>

</html>
{{ end }}