{{ define "login"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
    <title>Connectez vous à votre compte personnel Akwaba Express</title>
</head>

<body>
    <div id="login-app">
        <div>
            <div class="page-header">
                <a href="/" class="header_logo"></a>
                </a>
            </div>
            <!-- <P class="center">Inscrivez-vous pour enregistrer les numéros de suivi de vos colis et recevoir des
                notifications.
            </P> -->
            <div class="id-container">
                <h3 class="ui center red">
                    CONNEXION
                </h3>
                <form class="ui form fluid" @submit.prevent="sendRegistration">
                    <div class="ui stacked ">
                        <div v-show="error" class="center" style="margin: 10px 0px;" v-cloak>
                            <span class="error-label">{error}</span>
                        </div>
                        {{if .isRedirect }}
                        <div class="ui message positive">
                            Pour commencer à envoyer des colis, connectez-vous ou inscrivez-vous.
                        </div>
                        {{end}}
                        <div class="field">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" v-model="user.email"
                                v-validate="{required: true, email: true}" data-vv-as="email" autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('email') }</span>
                        </div>
                        <div class="field">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="password" v-validate="{required: true, min: 4}"
                                v-model="user.password" autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('password') }</span>
                        </div>
                        <div class="center">
                            <button class="ui primary button submit"
                                v-bind:class="{loading: loading, disabled: loading}">Connexion</button>
                            <div style="margin-top: 20px">
                                <a href="/auth/recovery" class="red-link">Mot de passe oublié?</a>
                            </div>
                            <div class="ui divider">
                            </div>
                            <a :href="'/auth/registration'+redirectPath()" class="red-link">Inscription</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>
<script src="../assets/js/login.js"></script>

</html>
{{end}}