{{define "order-created"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <title>Commande réçu</title>
</head>


<body>
    <div class="ui center aligned">
        <div class="ui text container" style="margin-top: 100px;">
            <div>
                <img style="width: 150px;" src="../assets/img/check.svg" alt="">
            </div>
            <h1 class="ui red image header">
                Nous avons reçu votre commande
            </h1>
            <div>
                <h4 class="ui red">COMMANDE № {{ .orderId }}</h4>
            </div>
            <p class="center">Notre service client vous contactera dans quelques instants afin de finaliser votre
                commande.</p>
            <p class="center">Merci de faire confiance à Akwaba Express.</p>

            <div style="margin: 15px 0px;">
                <a class="ui tiny button red" href="/profile/my_orders">Voir mes commande</a>
            </div>
            <div style="margin: 15px 0px;">
                <a href="/">Retour à la page d'accueil </a>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}