{{ define "order-form"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
    <title>Commande de livraison Akwaba Express</title>
</head>
<style>
    .order-summary-card {
        background: white;
        box-shadow: 0px 2px 2px 0px #b3b3b3;
        transition: box-shadow 0.1s ease-in-out;
        margin: 20px auto 0;
        font-size: 14px;
        line-height: 18px;
        color: #999999;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .order-summary {
        padding: 15px;
    }

    .order-summary-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .order-summary-item-title {
        font-size: 1rem;
        line-height: 1.09;
        color: #B02025;
    }
</style>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item active" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item active" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>

        <div class="ui container" id="order-app">
            <div class="ae-column stackable">
                <div style="margin: 40px 0px 20px 0px;">
                    <h3>Envoi de colis: {{.originAddress}} - {{.destinationAddress}}</h3>
                    <p>Après avoir rempli le formulaire et validé votre commande, notre Service Clientèle vous
                        contactera
                        pour vérification et confirmation de la commande. Nous vous enverrons un coursier Akwaba
                        Express afin de
                        récupérer votre colis, votre colis sera ensuite livré dans les délais.
                    </p>
                </div>
                <div class="ui divider"></div>
                <form class="ui form" id="order-form" style="margin-top: 40px;" v-on:submit.prevent="submitOrder">
                    <h3 class="ui dividing header">EXPEDITEUR</h3>
                    <div class="field required">
                        <label>Nom</label>
                        <input type="text" ref="senderNameInput" name="senderName" autocomplete="disable"
                            v-validate="{ required: true, min: 3 }" v-model="order.sender.name">
                        <span class="error-label" v-cloak>{ errors.first('senderName') }</span>
                    </div>
                    <div class="field">
                        <label>Adresse</label>
                        <input readonly type="text" id="sfAddress" value="{{ .originAddress }}">
                    </div>
                    <div class="field required">
                        <label>Complément d'adresse (quartier, secteur, rue)</label>
                        <input type="text" ref="senderAddressInput" name="senderAddress"
                            v-validate="{required: true, min: 3}" v-model="order.sender.address.affix"
                            placeholder="Ex: Williamsville, rue Champs Élysées">
                        <span class="error-label" v-cloak>{ errors.first('senderAddress') }</span>

                    </div>
                    <div class="field required">
                        <label>Téléphone</label>
                        <input type="tel" ref="senderPhoneInput" v-validate="{required: true, length: 16}"
                            v-mask="'+225 ## ## ## ##'" name="senderPhone" v-model="order.sender.phone">
                        <span class="error-label" class="error-label" v-cloak>{ errors.first('senderPhone') }</span>
                    </div>

                    <h3 class="ui dividing header">DESTINATAIRE</h3>
                    <div class="field required">
                        <label>Nom</label>
                        <input type="text" ref="receiverNameInput" name="receiverName"
                            v-validate="{ required: true, min: 3 }" v-model="order.receiver.name">
                        <span class="error-label" v-cloak>{ errors.first('receiverName') }</span>

                    </div>
                    <div class="field">
                        <label>Adresse</label>
                        <input readonly type="text" id="rfAddress" value="{{.destinationAddress}}">
                    </div>
                    <div class="field required">
                        <label>Complément d'adresse (quartier, secteur, rue)</label>
                        <input type="text" ref="receiverAddressInput" name="receiverAddress"
                            v-validate="{required: true, min: 3}" v-model="order.receiver.address.affix"
                            placeholder="Ex: Williamsville, rue Champs Élysées">
                        <span class="error-label" v-cloak>{errors.first('receiverAddress')}</span>
                    </div>
                    <div class="field required">
                        <label>Téléphone</label>
                        <input type="tel" ref="receiverPhoneInput" name="receiverPhone" v-model="order.receiver.phone"
                            v-validate="{required: true, length: 16}" v-mask="'+225 ## ## ## ##'">
                        <span class="error-label" v-cloak>{errors.first('receiverPhone')}</span>
                    </div>
                    <h3 class="ui dividing header">INFORMATION SUR LE COLIS</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>Poids du colis</label>
                            <input readonly type="text" id="ShipmentCategory"
                                data-interval-id="{{.ShipmentCategory.ID}}" value="{{.ShipmentCategory.Name}}">
                        </div>
                        <div class="field required">
                            <label>Nature du colis</label>
                            <input type="text" ref="natureInput" v-model="order.nature"
                                v-validate="{required: true, min: 3}" name="nature"
                                placeholder="Ex: Documents, Chaussures, Sac...">
                            <span class="error-label" v-cloak>{errors.first('nature')}</span>
                        </div>
                    </div>
                    <h3 class="ui dividing header">MODE DE PAIEMENT</h3>
                    <div class="grouped fields">
                        <label for="paymentType">Selectionner votre mode paiement:</label>

                        <div class="field">
                            <select name="paymentTypeId" v-model="order.paymentType.id">
                                {{ range .PaymentOptions }}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{ end }}
                            </select>
                        </div>

                    </div>
                    <div class="ui divider"></div>
                    <div style="margin: 10px auto" v-if="error" v-cloak>
                        <span class="error-label">{error}</span>
                    </div>
                    <div style="text-align: center;">
                        <button class="ui button submit primary" v-bind:class="{loading: loading, disabled: loading}"
                            style="margin: 20px 0px;" tabindex="0">
                            VALIDER LA COMMANDE
                        </button>
                    </div>

                </form>
            </div>
            <div class="ui bottom fixed menu" style="height: 65px;">
                <div id="price">
                    Coût de la livraison <strong>2500 FCFA</strong>
                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}
    </div>

</body>

</html>
<!-- <script src="../assets/js/order.js"></script> -->

<script>
    // $(".phone").inputmask({ "mask": "+225 99 99 99 99" });
    const dictionary = {
        en: {
            custom: {
                senderName: {
                    required: 'Veuillez saisir le nom de l\'expéditeur.',
                    min: 'le nom de l\'expéditeur doit contenir au moins 3 caractères'
                },
                senderAddress: {
                    required: 'Veuillez compléter d\'adresse de l\'expéditeur.',
                    min: 'Veuillez compléter d\'adresse du destinataire.',
                },
                senderPhone: {
                    required: 'Veuillez saisir un numéro de mobile valide',
                    length: 'Veuillez saisir un numéro de mobile valide',
                },
                receiverName: {
                    required: 'Veuillez saisir le nom du destinataire.',
                    min: 'le nom du destinataire doit contenir au moins 3 caractères'
                },
                receiverAddress: {
                    required: 'Veuillez compléter d\'adresse du destinataire.',
                    min: 'Veuillez compléter d\'adresse du destinataire.',
                },
                receiverPhone: {
                    required: 'Veuillez saisir un numéro de mobile valide',
                    length: 'Veuillez saisir un numéro de mobile valide',
                },
                nature: {
                    required: 'Veuillez préciser la nature du colis',
                    min: 'Veuillez préciser la nature du colis (3 caractères minimum)',
                }
            }
        }
    }

    Vue.options.delimiters = ['{', '}'];
    Vue.use(VueTheMask)
    Vue.use(VeeValidate, {
        mode: 'lazy',
        events: 'blur',
        dictionary: dictionary,
    });



    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $('#desktop-header .ui.dropdown').dropdown();
    $('.ui.radio.checkbox').checkbox();
    // $('#order-form').form({
    //     on: 'blur',
    //     inline: true,
    //     fields: {
    //         senderName: {
    //             identifier: 'senderName',
    //             rules: [
    //                 {
    //                     type: 'empty',
    //                     prompt: 'Veuillez saisir le nom de l\'expediteur'
    //                 }
    //             ]
    //         },
    //         senderPhone: {
    //             identifier: 'senderPhone',
    //             rules: [
    //                 {
    //                     type: 'regExp[^\\+225 (\\d{2}) (\\d{2}) (\\d{2}) (\\d{2})]',
    //                     prompt: 'Veuillez saisir un numéro de mobile valide'
    //                 }
    //             ]
    //         },
    //         senderAddress: {
    //             identifier: 'senderAddress',
    //             rules: [
    //                 {
    //                     type: 'empty',
    //                     prompt: 'Veuillez compléter d\'adresse de l\'expéditeur'
    //                 }
    //             ]
    //         },

    //         receiverName: {
    //             identifier: 'receiverName',
    //             rules: [
    //                 {
    //                     type: 'empty',
    //                     prompt: 'Veuillez saisir le nom du destinataire'
    //                 }
    //             ]
    //         },
    //         receiverPhone: {
    //             identifier: 'receiverPhone',
    //             rules: [
    //                 {
    //                     type: 'regExp[^\\+225 (\\d{2}) (\\d{2}) (\\d{2}) (\\d{2})]',
    //                     prompt: 'Veuillez saisir un numéro de mobile valide'
    //                 }
    //             ]
    //         },
    //         receiverAddress: {
    //             identifier: 'receiverAddress',
    //             rules: [
    //                 {
    //                     type: 'empty',
    //                     prompt: 'Veuillez ompléter l\'adresse du destinataire'
    //                 }
    //             ]
    //         },
    //         ShipmentCategoryId: {
    //             identifier: 'ShipmentCategoryId',
    //             rules: [
    //                 {
    //                     type: 'empty',
    //                     prompt: 'Veuillez sélectionner un interval de poids'
    //                 }
    //             ]
    //         },
    //         nature: {
    //             identifier: 'nature',
    //             rules: [
    //                 {
    //                     type: 'empty',
    //                     prompt: 'Veuillez saisir la nature du colis'
    //                 }
    //             ]
    //         }
    //     },
    //     onFailure: function (formErrors, fields) {
    //         for (field in fields) {
    //             if (!$('.ui.form').form('is valid', field)) {
    //                 let elem = $('.ui.form').form('get field', field)
    //                 let dv = elem.closest('.field');
    //                 $([document.documentElement, document.body]).animate({
    //                     scrollTop: dv.offset().top
    //                 }, 500);
    //                 break;
    //             }
    //         }
    //         return false;
    //     },
    // });

    function Order() {
        return {
            sender: {
                name: null,
                address: {
                    formal: null,
                    affix: null,
                },
                phone: null,
            },
            receiver: {
                name: null,
                address: {
                    formal: null,
                    affix: null,
                },
                phone: null,
            },
            nature: null,
            ShipmentCategory: {
                id: null,
                name: null,
            },
            paymentType: {
                id: 1,
            }
        }
    }
    var orderApp = new Vue({
        el: "#order-app",
        data() {
            return {
                order: Order(),
                loading: false,
                error: null,
            }
        },
        methods: {
            submitOrder: async function () {
                this.order.sender.address.formal = $('#sfAddress').val();
                this.order.receiver.address.formal = $('#rfAddress').val();
                this.order.ShipmentCategory.id = Number($('#ShipmentCategory').data('interval-id'));
                this.order.paymentType.id = Number(this.order.paymentType.id);
                console.log(JSON.parse(JSON.stringify(this.order)));

                await this.$validator.validate();
                const firstField = await Object.keys(this.errors.collect())[0];
                if (firstField != undefined) {
                    this.$refs[`${firstField}Input`].scrollIntoView({ behavior: "smooth" });
                    return
                }
                this.loading = true;

                try {
                    let response = await axios.post("/order/create", this.order);
                    console.log(response);
                    this.loading = false;
                    if (response.data) {
                        window.location.href = "/order/success?orderId=" + response.data.order.orderId;
                    } else {
                        alert('La création de commande a échoué, veuillez réessayer s\'il vous plait');
                    }
                } catch (error) {
                    this.loading = false;
                    console.log(error.response);
                    if (error.response) {
                        var status = error.response.status;
                        if (status === 409 || status === 500) {
                            this.error = error.response.data.message;
                            return
                        }
                    } else if (error.request) {
                        console.log(error.request);
                        this.error = "Echec de l'opération: vérifiez votre connexion internet."
                    } else {
                        // Something happened in setting up the request and triggered an Error
                        alert('Error', error.message);
                    }
                    alert(error)
                }
            }
        },
    })
</script>

{{end}}