{{ define "order-form"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
    <title>Commande de livraison Akwaba Express</title>
</head>
<style>
    .order-summary-card {
        background: white;
        box-shadow: 0px 2px 2px 0px #b3b3b3;
        transition: box-shadow 0.1s ease-in-out;
        margin: 20px auto 0;
        font-size: 14px;
        line-height: 18px;
        color: #999999;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .order-summary {
        padding: 15px;
    }

    .order-summary-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .order-summary-item-title {
        font-size: 1rem;
        line-height: 1.09;
        color: #B02025;
    }
</style>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FirstName}} </span></a>
        <a class="red item" href="/profile/my_orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Réglages</a>
        <a class="red item" href="/auth/logout">Déconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item active" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>

        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item active" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FirstName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/my_orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Réglages</a>
                                <a class="black item" href="/auth/logout">Déconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>

        <div class="ui container" id="order-app">
            <div class="ae-column stackable">
                <div style="margin: 40px 0px 20px 0px;">
                    <h3>Livraison de {{.categoryName}} à {{.destination}}</h3>
                    <p>Après avoir rempli le formulaire et validé votre commande, notre service client vous
                        contactera
                        pour vérification et confirmation de la commande. Nous vous enverrons un coursier afin de
                        récupérer votre colis, votre colis sera ensuite livré dans les brefs délais.
                    </p>
                </div>
                <div class="ui divider"></div>
                <form class="ui form" id="order-form" style="margin-top: 40px;" v-on:submit.prevent="submitOrder">
                    <h3 class="ui dividing header">EXPEDITEUR</h3>
                    <div class="field required">
                        <label>Nom</label>
                        <input type="text" ref="senderNameInput" name="senderName" autocomplete="disable"
                            v-validate="{ required: true, min: 3 }" v-model="order.sender.name">
                        <span class="error-label" v-cloak>{ errors.first('senderName') }</span>
                    </div>
                    <div class="field">
                        <label>Commune</label>
                        <input readonly type="text" ref="originPlace" value="{{ .origin }}">
                    </div>
                    <div class="field required">
                        <label>Adresse (quartier, secteur, rue)</label>
                        <input type="text" ref="senderAddressInput" name="senderAddress"
                            v-validate="{required: true, min: 3}" v-model="order.sender.address"
                            placeholder="Ex: Williamsville, rue Champs Élysées">
                        <span class="error-label" v-cloak>{ errors.first('senderAddress') }</span>

                    </div>
                    <div class="field required">
                        <label>Téléphone</label>
                        <input type="tel" ref="senderPhoneInput" v-validate="{required: true, length: 16}"
                            v-mask="'+225 ## ## ## ##'" name="senderPhone" v-model="order.sender.phone">
                        <span class="error-label" class="error-label" v-cloak>{ errors.first('senderPhone') }</span>
                    </div>

                    <h3 class="ui dividing header">DESTINATAIRE</h3>
                    <div class="field required">
                        <label>Nom</label>
                        <input type="text" ref="recipientNameInput" name="recipientName"
                            v-validate="{ required: true, min: 3 }" v-model="order.recipient.name">
                        <span class="error-label" v-cloak>{ errors.first('recipientName') }</span>

                    </div>
                    <div class="field">
                        <label>Commune</label>
                        <input readonly type="text" ref="destinationPlace" value="{{.destination}}">
                    </div>
                    <div class="field required">
                        <label>Adresse (quartier, secteur, rue)</label>
                        <input type="text" ref="recipientAddressInput" name="recipientAddress"
                            v-validate="{required: true, min: 3}" v-model="order.recipient.address"
                            placeholder="Ex: Williamsville, rue Champs Élysées">
                        <span class="error-label" v-cloak>{errors.first('recipientAddress')}</span>
                    </div>
                    <div class="field required">
                        <label>Téléphone</label>
                        <input type="tel" ref="recipientPhoneInput" name="recipientPhone"
                            v-model="order.recipient.phone" v-validate="{required: true, length: 16}"
                            v-mask="'+225 ## ## ## ##'">
                        <span class="error-label" v-cloak>{errors.first('recipientPhone')}</span>
                    </div>
                    <h3 class="ui dividing header">INFORMATION SUR LE COLIS</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>Catégorie</label>
                            <input readonly type="text" id="category" ref="category" data-category-id="{{.categoryID}}"
                                value="{{.categoryName}}">
                        </div>
                        <div class="field required">
                            <label>Nature du colis</label>
                            <input type="text" ref="natureInput" v-model="order.nature"
                                v-validate="{required: true, min: 3}" name="nature"
                                placeholder="Ex: Documents, Chaussures, Sac...">
                            <span class="error-label" v-cloak>{errors.first('nature')}</span>
                        </div>
                    </div>
                    <h3 class="ui dividing header">MODE DE PAIEMENT</h3>
                    <div class="grouped fields">
                        <label for="paymentType">Sélectionnez votre mode paiement:</label>

                        <div class="field">
                            <select name="paymentOptionId" v-model="order.paymentOption.id">
                                {{ range $key, $value := .paymentOptions }}
                                <option value="{{$key}}">{{$value}}</option>
                                {{ end }}
                            </select>
                        </div>

                    </div>
                    <div class="ui divider"></div>
                    <div style="margin: 10px auto" v-if="error" v-cloak>
                        <span class="error-label">{error}</span>
                    </div>
                    <div style="text-align: center;">
                        <button class="ui button submit primary" v-bind:class="{loading: loading, disabled: loading}"
                            style="margin: 20px 0px;" tabindex="0">
                            VALIDER LA COMMANDE
                        </button>
                    </div>

                </form>
            </div>
            <div class="ui bottom fixed menu" style="height: 65px;" v-cloak>
                <div style="width: 100%;text-align: center; margin-top: 25px;" v-if="!cost">
                    <img src="../assets/img/dots_loader.gif">
                </div>
                <div v-else id="price" v-cloak>
                    Frais de la livraison <strong>{cost.toLocaleString()} FCFA</strong>
                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}
    </div>

</body>

</html>
<script src="../assets/js/order_form.js"></script>

{{end}}