{{define "recovery"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <title>Récupération du mot de passe</title>
</head>

<body>
    <div id="recovery-app" style="margin-top: 100px;">
        <div class="page-header">
            <a href="/" class="header_logo"></a>
            </a>
        </div>
        <div class="id-container">
            <h2 class="ui center">
                Récupération du mot de passe
            </h2>
            <form class="ui form" id="recovery-form" @submit.prevent="sendEmailForRecovery">
                <div class="ui positive message" v-cloak v-if="done">Un e-mail a été envoyé à {displayEmail} avec un
                    lien
                    pour
                    créer
                    un nouveau
                    mot
                    de passe.</div>
                <div class="ui negative message" v-cloak v-else-if="!done && error">{error}</div>
                <div class="ui stacked">
                    <div class="field">
                        <input type="text" placeholder="Entrez votre adresse e-mail" name="email" v-model="email"
                            v-validate="{required: true, email: true}" data-vv-as="email" autocomplete="disable">
                        <span class="error-label" v-cloak>{ errors.first('email') }</span>
                    </div>
                    <div class="center" style="margin-bottom: 10px;">
                        <button class="ui fluid primary submit button"
                            v-bind:class="{loading: loading, disabled: loading || done}">Envoyer</button>
                    </div>
                    <div class="center">
                        <a href="/auth/login">Retour</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script src="../assets/js/recovery.js"></script>

</html>
{{end}}