{{define "registration"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
    <title>INSCRIPTION</title>
</head>

<body>
    <div class="ui aligned" id="registration-app">
        <div class="page-header">
            <a href="/" class="header_logo"></a>
            </a>
        </div>
        <div class="id-page__text--big">
            <h3 class="ui center red">
                INSCRITPION
            </h3>
            <P class="center">Inscrivez-vous pour enregistrer les numéros de suivi de vos colis et recevoir des
                notifications.
            </P>
        </div>
        <div class="id-container">
            <p class="center">
                Si vous êtes déjà inscrit, <a href="/auth/login" class="red-link">Connectez-vous</a>
            </p>
            <div class="ui divider"></div>

            <form class="ui form" @submit.prevent="sendRegistration" method="POST" action="/auth/registration"
                id="registrationForm">
                <div class="ui stacked ">
                    {{if .error}}
                    <div class="ui negative message">{{.error}}</div>
                    <div class="field">
                        <input type="text" placeholder="Nom de famille" name="lastName" value="{{.user.LastName}}"
                            autocomplete="off" v-validate="{required: true, min: 3}">
                        <span class="error-label" v-cloak>{ errors.first('lastName') }</span>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Prénom" name="firstName" value="{{.user.FirstName}}"
                            autocomplete="off" v-validate="{required: true, min: 3}">
                        <span class="error-label" v-cloak>{ errors.first('firstName') }</span>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Adresse e-mail" name="email" value="{{.user.Email}}"
                            v-validate="{required: true, email: true}" data-vv-as="email" autocomplete="off">
                        <span class="error-label" v-cloak>{ errors.first('email') }</span>
                    </div>
                    <div class="field">
                        <input type="tel" placeholder="Numéro de mobile" name="phone" value="{{.user.Phone}}"
                            v-validate="{length: 16}" v-mask="'+225 ## ## ## ##'" autocomplete="off">
                        <span class="error-label" v-cloak>{errors.first('phone')}</span>
                    </div>
                    <div class="field">
                        <div class="ui icon input">
                            <i class="eye link icon" @click="showPassword"></i>
                            <input placeholder="Mot de passe" type="password" value="{{.user.Password}}" name="password"
                                id="password" v-validate="{required: true, min: 4}" autocomplete="new-password">
                        </div>
                        <span class="error-label" v-cloak>{ errors.first('password') }</span>
                    </div>
                    {{ else }}
                    <div class="field">
                        <input type="text" placeholder="Nom de famille" name="lastName" autocomplete="off"
                            v-validate="{required: true, min: 3}">
                        <span class="error-label" v-cloak>{ errors.first('lastName') }</span>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Prénom" name="firstName" autocomplete="off"
                            v-validate="{required: true, min: 3}">
                        <span class="error-label" v-cloak>{ errors.first('firstName') }</span>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Adresse e-mail" name="email"
                            v-validate="{required: true, email: true}" data-vv-as="email" autocomplete="off">
                        <span class="error-label" v-cloak>{ errors.first('email') }</span>
                    </div>
                    <div class="field">
                        <input type="tel" placeholder="Numéro de mobile" name="phone" v-validate="{length: 16}"
                            v-mask="'+225 ## ## ## ##'" autocomplete="off">
                        <span class="error-label" v-cloak>{errors.first('phone')}</span>
                    </div>
                    <div class="field">
                        <div class="ui icon input">
                            <i class="eye link icon" @click="showPassword"></i>
                            <input placeholder="Mot de passe" type="password" name="password" id="password"
                                v-validate="{required: true, min: 4}" autocomplete="new-password">
                        </div>
                        <span class="error-label" v-cloak>{ errors.first('password') }</span>
                    </div>
                    {{end}}
                    <div class="center">
                        <button class="ui fluid primary button submit"
                            v-bind:class="{loading: loading, disabled: loading}">Inscritpion</button>
                    </div>
                    <div class="ui divider"></div>
                    <div style="margin-top: 10px;" class="muted-txt">
                        En vous inscrivant, vous acceptez les <a href="/general-conditions" class="red-link">conditions
                            d' utilisation</a> et <a href="/privacy-policy" class="red-link">la politique de
                            confidentialité</a> concernants le traitements des données
                        de
                        l'utilisateur.
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script src="../assets/js/registration.js"></script>

</html>

{{end}}