{{define "registration"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
    <title>INSCRIPTION</title>
</head>

<body>
    <div class="ui aligned" id="registration-app">
        <div class="page-header">
            <a href="/" class="header_logo"></a>
            </a>
        </div>
        <div class="id-page__text--big">
            <h3 class="ui center red">
                INSCRITPION
            </h3>
            <P class="center">Inscrivez-vous pour enregistrer les numéros de suivi de vos colis et recevoir des
                notifications.
            </P>
        </div>
        <div class="id-container">
            <p class="center">
                Si vous êtes déjà inscrit, <a href="/auth/login" class="red-link">Connectez-vous</a>
            </p>
            <div class="ui divider"></div>

            <form class="ui form" @submit.prevent="sendRegistration">
                <div class="ui stacked ">
                    <div class="field">
                        <label for="name">Nom et prénom</label>
                        <input type="text" name="name" autocomplete="off" v-validate="{required: true, min: 3}"
                            v-model="user.FullName">
                        <span class="error-label" v-cloak>{ errors.first('name') }</span>
                    </div>
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" v-model="user.email" v-validate="{required: true, email: true}"
                            data-vv-as="email" autocomplete="off">
                        <span class="error-label" v-cloak>{ errors.first('email') }</span>
                    </div>
                    <div class="field">
                        <label for="phone">Numéro de mobile</label>
                        <input type="tel" name="phone" v-model="user.phone" v-validate="{required: true, length: 16}"
                            v-mask="'+225 ## ## ## ##'" autocomplete="off">
                        <span class="error-label" v-cloak>{ errors.first('phone') }</span>
                    </div>
                    <div class="field">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" v-validate="{required: true, min: 4}"
                            v-model="user.password" autocomplete="off">
                        <span class="error-label" v-cloak>{ errors.first('password') }</span>
                    </div>
                    <div class="field">
                        <label for="password2">Répétez le mot de passe</label>
                        <input type="password" name="password2" v-validate="{is: user.password}"
                            v-model="confirmPassword" autocomplete="off">
                        <span class="error-label" v-cloak>{ errors.first('password2') }</span>
                    </div>
                    <div v-if="error" class="center" style="margin: 10px 0px;" v-cloak>
                        <span class="error-label">{error}</span>
                    </div>
                    <div class="center">
                        <button class="ui primary button submit"
                            v-bind:class="{loading: loading, disabled: loading}">Inscritpion</button>
                    </div>
                    <div class="ui divider"></div>
                    <div style="margin-top: 10px;" class="muted-txt">
                        En vous inscrivant, vous acceptez les <a href="/general-conditions" class="red-link">conditions
                            d' utilisation</a> et <a href="/privacy-policy" class="red-link">la politique de
                            confidentialité</a> concernants le traitements des données
                        de
                        l'utilisateur.
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script src="../assets/js/registration.js"></script>

</html>

{{end}}