{{ define "settings"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>Reglages</title>
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
</head>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item active" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item active" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>


        <!--Home page content-->
        <div class="">
            <div class="ui container full-height" id="setting-app">
                <div id="settings">
                    <h1 class="center">DONNÉES DU COMPTE</h1>
                    <div class="ui divider"></div>
                    <div class="ui negative message" v-if="error" v-cloak>
                        <p>
                            {error}
                        </p>
                    </div>
                    <div class="ui success message" v-else-if="success" v-cloak>
                        <p>
                            {success}
                        </p>
                    </div>
                    <div class="center" style="margin-top: 100px;" v-if="!user" v-cloak>
                        <img src="../assets/img/dots_loader.gif" alt="">
                    </div>
                    <form class="ui form" autocomplete="disabled" v-else @submit.prevent="submitUpdate" v-cloak>
                        <div class="field">
                            <label for="name">Nom et prénom</label>
                            <input type="text" name="name" autocomplete="disable" v-validate="{required: true, min: 3}"
                                v-model="user.fullName">
                            <span class="error-label" v-cloak>{ errors.first('name') }</span>
                        </div>
                        <div class="field">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" v-model="user.email"
                                v-validate="{required: true, email: true}" data-vv-as="email" autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('email') }</span>
                        </div>
                        <div class="field">
                            <label for="phone">Numéro de mobile</label>
                            <input type="tel" name="phone" v-model="user.phone"
                                v-validate="{required: true, length: 16}" v-mask="'+225 ## ## ## ##'"
                                autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('phone') }</span>
                        </div>
                        <div class="field">
                            <label>Adresse</label>
                            <input type="text" name="address" v-model="user.address">
                        </div>
                        <div class="field">
                            <label for="password">Mot de passe requis pour les modificaiton</label>
                            <input type="password" autocomplete="disabled" name="password"
                                v-validate="{required: true, min: 4}" v-model="user.password" autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('password') }</span>
                        </div>
                        <div class="center">
                            <button v-bind:class="{loading: loading, disabled: loading}" class="ui button primary"
                                type="submit">Modifier</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" .}}

    </div>


</body>
<script src="../assets/js/settings.js"></script>

</html>
{{ end }}