{{ define "settings"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>Réglages</title>
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
</head>

<body>

    {{ template "default-sidebar" . }}

    <div class="pusher">
        {{ template "default-navbar" . }}

        <!--Home page content-->
        <div class="">
            <div class="ui container full-height" id="setting-app">
                <div id="settings">
                    <h1 class="center">DONNÉES DU COMPTE</h1>
                    <div class="ui divider"></div>
                    <div class="ui negative message" v-if="error" v-cloak>
                        <p>
                            {error}
                        </p>
                    </div>
                    <div class="ui success message" v-else-if="success" v-cloak>
                        <p>
                            {success}
                        </p>
                    </div>
                    <div class="center" style="margin-top: 100px;" v-if="!user" v-cloak>
                        <img src="../assets/img/dots_loader.gif" alt="">
                    </div>
                    <form class="ui form" autocomplete="disabled" v-else @submit.prevent="submitUpdate" v-cloak>
                        <div class="field">
                            <label for="name">Nom et prénom</label>
                            <input type="text" name="name" autocomplete="disable" v-validate="{required: true, min: 3}"
                                v-model="user.fullName">
                            <span class="error-label" v-cloak>{ errors.first('name') }</span>
                        </div>
                        <div class="field">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" v-model="user.email"
                                v-validate="{required: true, email: true}" data-vv-as="email" autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('email') }</span>
                        </div>
                        <div class="field">
                            <label for="phone">Numéro de mobile</label>
                            <input type="tel" name="phone" v-model="user.phone"
                                v-validate="{required: true, length: 16}" v-mask="'+225 ## ## ## ##'"
                                autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('phone') }</span>
                        </div>
                        <div class="field">
                            <label>Adresse</label>
                            <input type="text" name="address" v-model="user.address">
                        </div>
                        <div class="field">
                            <label for="password">Mot de passe requis pour les modificaiton</label>
                            <input type="password" autocomplete="disabled" name="password"
                                v-validate="{required: true, min: 4}" v-model="user.password" autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('password') }</span>
                        </div>
                        <div class="center">
                            <button v-bind:class="{loading: loading, disabled: loading}" class="ui button primary"
                                type="submit">Modifier</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" .}}

    </div>


</body>
<script src="../assets/js/settings.js"></script>

</html>
{{ end }}