{{ define "update-password"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>Réglages</title>
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
</head>

<body>

    {{ template "default-sidebar" . }}

    <div class="pusher">
        {{ template "default-navbar" . }}

        <!--Home page content-->
        <div class="">
            <div class="ui container full-height" id="setting-app">
                <div id="settings">
                    <h1 class="center">Modifier votre mot de passe</h1>
                    <div class="ui divider"></div>
                    <div class="ui negative message" v-if="error" v-cloak>
                        <p>
                            {error}
                        </p>
                    </div>
                    <div class="ui success message" v-else-if="success" v-cloak>
                        <p>
                            {success}
                        </p>
                    </div>
                    <form class="ui form" autocomplete="disabled" @submit.prevent="submitUpdate" v-cloak>
                        <div class="field">
                            <label for="password">Mot de passe actuel</label>
                            <div class="ui icon input">
                                <i class="eye link icon" @click="showActualPassword"></i>
                                <input type="password" name="password" id="password"
                                    v-validate="{required: true, min: 4}" v-model="password"
                                    autocomplete="new-password">
                            </div>
                            <span class="error-label" v-cloak>{ errors.first('password') }</span>
                        </div>
                        <div class="field">
                            <label for="newPassword">Nouveau mot de passe</label>
                            <div class="ui icon input">
                                <i class="eye link icon" @click="showNewPassword"></i>
                                <input type="password" name="newPassword" id="newPassword"
                                    v-validate="{required: true, min: 4}" v-model="newPassword"
                                    autocomplete="new-password">
                            </div>
                            <span class="error-label" v-cloak>{ errors.first('newPassword') }</span>
                        </div>
                        <div class="field">
                            <label for="newPassword">Saisissez à nouveau le mot de passe</label>
                            <div class="ui icon input">
                                <i class="eye link icon" @click="showNewPassword2"></i>
                                <input type="password" name="newPassword2" id="newPassword2"
                                    v-validate="{required: true, is: newPassword}" v-model="newPassword2"
                                    autocomplete="new-password">
                            </div>
                            <span class="error-label" v-cloak>{ errors.first('newPassword2') }</span>
                        </div>
                        <div class="center">
                            <button v-bind:class="{loading: loading, disabled: loading}" class="ui button primary"
                                type="submit">Enregistrer nouveau mot de passe</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" .}}

    </div>


</body>
<script>
    const dictionary = {
        en: {
            custom: {
                password: {
                    required: 'Votre mot de passe doit contenir au moins 4 caractères',
                    min: 'Votre mot de passe doit contenir au moins 4 caractères'
                },
                newPassword: {
                    required: 'Votre mot de passe doit contenir au moins 4 caractères',
                    min: 'Votre mot de passe doit contenir au moins 4 caractères'
                },
                newPassword2: {
                    required: 'Votre mot de passe doit contenir au moins 4 caractères',
                    is: 'Votre mot de passe doit contenir au moins 4 caractères'
                }
            }
        }
    }

    Vue.options.delimiters = ['{', '}'];
    Vue.use(VueTheMask)
    Vue.use(VeeValidate, {
        mode: 'lazy',
        events: 'blur',
        dictionary: dictionary,
    });

    var app = new Vue({
        el: '#setting-app',
        data: {
            error: null,
            success: null,
            password: null,
            newPassword: null,
            newPassword2: null,
            loading: false,
        },
        methods: {
            showActualPassword() {
                var x = document.getElementById("password")
                x.type = x.type == "password" ? "text" : "password";
            },
            showNewPassword() {
                var x = document.getElementById("newPassword")
                x.type = x.type == "password" ? "text" : "password";
            },
            showNewPassword2() {
                var x = document.getElementById("newPassword2")
                x.type = x.type == "password" ? "text" : "password";
            },
            submitUpdate: async function () {
                this.loading = true;
                this.error = null;
                this.success = null;

                const isValid = await this.$validator.validate();

                if (!isValid) {
                    this.loading = false;
                    return
                }

                try {
                    const data = { new: this.newPassword, current: this.password };
                    var response = await axios.post("/profile/update-password", data)
                    $('html,body').animate({ scrollTop: 0 }, 200);
                    this.loading = false;
                    console.log(response);
                    this.user = response.data.user || null;
                    this.success = response.data.message;
                } catch (error) {
                    this.loading = false;
                    if (error.response) {
                        $('html,body').animate({ scrollTop: 0 }, 200);
                        var status = error.response.status;
                        if (status === 409 || status === 500) {
                            this.error = error.response.data.message;
                            return
                        }
                        this.user = error.response.data.user;
                        console.log(error.response);
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        // Something happened in setting up the request and triggered an Error
                        console.log('Error', error.message);
                    }
                }
            }
        }
    })
</script>

</html>
{{ end }}