{{ define "user-orders"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>COMMANDES</title>
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<style>
    .description p {
        line-height: 1.2 !important;
    }

    .order-card .full-info {
        display: none;
    }

    .order-card .truncate {
        max-width: 600%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .load-more-div {
        margin: 15px auto;
        text-align: center;
    }
</style>

<body>
    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FirstName}} </span></a>
        <a class="red item active" href="/profile/my_orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Réglages</a>
        <a class="red item" href="/auth/logout">Déconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        {{ template "default-navbar" .}}

        <!--Home page content-->
        <div class="ui container full-height" id="user-orders">
            <div class="ae-column stackable">
                <h2 style="margin-top:45px;">MES COMMANDES</h2>
                <div class="ui divider"></div>
                <div style="margin-top: 50px" class="center" v-if="loading && orders.length == 0" v-clock>
                    <img src="../assets/img/dots_loader.gif">
                </div>

                <div v-else-if="orders.length > 0" v-clock>
                    <div class="ui card fluid order-card" v-for="(o, index) in orders" :key="o.id">
                        <div class="content">
                            <div class="right floated meta">{ o.timeCreated }</div>
                            <div class="header truncate">
                                Livraison à {o.recipient.area.name}
                            </div>
                            <!-- <h3>Nº: {o.id}</h3> -->
                            <div class="description">
                                <div>
                                    {o.state.name}
                                </div>
                                <!-- <p>{ formatDate(o.timeCreated) }</p> -->
                                <!-- <p>{ o.nature }</p> -->
                                <!-- <p>{ o.state.name }</p> -->
                                <div style="margin-top: 8px;">
                                    <a @click="showFullInfo">
                                        Afficher
                                    </a>
                                </div>
                                <div class="full-info">
                                    <div class="ui divider"></div>
                                    <p>Nº de commande: {o.id}</p>
                                    <p>Nº du colis: {o.shipmentId || 'INDISPONIBLE'}</p>
                                    <p>Trajet: {o.sender.area.name} - {o.recipient.area.name} ({o.distance} km) </p>

                                    <div class="ui dividing header">EXPÉDITEUR</div>
                                    <p>Nom: {o.sender.name}</p>
                                    <p>Commune: {o.sender.area.name}</p>
                                    <p>Adresse: {o.sender.address}</p>
                                    <p>Téléphone: {o.sender.phone}</p>
                                    <div class="ui dividing header">DESTINATAIRE</div>
                                    <p>Nom: {o.recipient.name}</p>
                                    <p>Commune: {o.recipient.area.name}</p>
                                    <p>Adresse: {o.recipient.address}</p>
                                    <p>Téléphone: {o.recipient.phone}</p>
                                    <div class="ui dividing header">COLIS</div>
                                    <p>Nature: {o.nature}</p>
                                    <p>Catégorie: {o.category.name}</p>
                                    <div class="ui dividing header">PAIEMENT ({o.paymentOption.name})</div>
                                    <p>Frais de livraison: {o.cost} FCFA</p>
                                </div>
                            </div>

                        </div>
                        <div v-if="o.state.id !== 4" class="extra content" style="text-align: right">
                            <a v-if="o.state.id == 2 || o.state.id == 3" :href="`/tracking?id=${o.shipmentId}`"
                                class="ui tiny basic button" v-bind:data-index="index">
                                <i class="search icon"></i>
                                Suivre
                            </a>
                            <div v-if="o.state.id == 1" class="ui negative tiny button"
                                v-on:click="showCancelModal(o.id)">
                                <i class="trash alternate outline icon"></i>
                                Annuler
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="error" class="center" v-cloak>
                    <p class="center">Echec de connexion.</p>
                    <a @click="fetchOrders">
                        réessayer
                    </a>
                </div>
                <div class="no-orders" v-else v-cloak>
                    <span>
                        Vous n'avez aucune commande
                    </span>
                </div>
                <div class="ui modal mini" id="cancelModal">
                    <div class="header center">
                        ANNULATION DE COMMANDE
                    </div>
                    <div class="content">
                        <h3 class="center"> Êtes-vous certain de vouloir annuler votre commande ?
                        </h3>
                    </div>
                    <div class="actions">
                        <div class="ui deny mini button">
                            NON
                        </div>
                        <div class="ui negative mini button" v-on:click="cancelOrder">
                            OUI
                        </div>
                    </div>
                </div>
                <div v-if="showLoadMore" v-cloak class="load-more-div">
                    <button class="ui button small" @click="fetchOrders"
                        v-bind:class="{disabled: loading, loading: loading}">
                        Afficher plus
                    </button>
                </div>
            </div>

        </div>
        <!--Footer-->
        {{ template "footer" .}}
    </div>
</body>
<script src="../assets/js/user_orders.js"></script>

</html>
{{ end }}