{{ define "default-sidebar" }}
<!-- Sidebar for mobile de vices -->
<div class="ui vertical inverted right sidebar menu">
    {{if .user.ID}}
    <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FirstName}} </span></a>
    <a class="red item" href="/profile/my_orders">Mes commandes</a>
    <a class="red item" href="/profile/settings">Réglages</a>
    <a class="red item" href="/auth/logout">Déconnexion</a>

    {{else}}
    <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
    {{end}}
    <hr>
    <a class="red item" href="/services">Nos services</a>
    <a class="red item" href="/order/pricing">Commande</a>
    <a class="red item" href="/tracking">Suivi de colis</a>

    <a class="red item" href="/about">À propos</a>
</div>
{{ end }}