{{ define "footer"}}
<footer>
    <div class="ui inverted  vertical footer segment" style="margin-top: 100px; text-align: center">
        <div class="ui container">
            <a
                href='https://play.google.com/store/apps/details?id=ci.akwabaexpress.akwaba_express&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                    alt='Disponible sur Google Play' width="126px" src='../assets/img/google-play-badge.png' /></a>
            <a href='https://apps.apple.com/us/app/akwaba-express/id1482321489?l=fr&ls=1'><img width="126px"
                    alt='Disponible sur Google Play' src='../assets/img/logo-appstore.png' /></a>
        </div>
        <div class="ui divider"></div>
        <div class="ui container">
            <div>Akwaba Express © 2019</div><br />
            <a class="ui circular facebook icon button" target="_blank" href="https://www.facebook.com/akwaba.express">
                <i class="facebook icon"></i>
            </a>
            <a class="ui circular twitter icon button">
                <i class="twitter icon"></i>
            </a>
            <a class="ui circular instagram icon button" target="_blank"
                href="https://www.instagram.com/akwaba.express">
                <i class="instagram icon"></i>
            </a>
            <!-- <a class="ui circular mail icon button" target="_blank" href="mailto:contacts@akwabaexpress.ci">
                <i class="mail icon"></i>
            </a> -->
            <a class="ui circular youtube plus icon button">
                <i class="youtube plus icon"></i>
            </a>
        </div>
        <!-- <div class="ui divider"></div>
        <div class="ui container">
            
        </div> -->
        <div class="ui divider"></div>
        <div class="ui container">
            <div class="ui inverted horizontal bulleted  link list">
                <a class="item" href="/general-conditions">
                    Conditions générales d'utilisation
                </a>
                <a class="item" href="/privacy-policy">
                    Politique de confidentialité
                </a>
            </div>
        </div>
    </div>
    </div>
</footer>
<script src="../assets/js/semantic.min.js"></script>
<script>
    function showSideBar() {
        $('.ui.sidebar').sidebar('toggle');
    }
    $('.ui.dropdown').dropdown()
</script>
{{end}}