{{ define "order-pricing"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Commande de livraison Akwaba Express</title>
</head>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FirstName}} </span></a>
        <a class="red item" href="/profile/my_orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Réglages</a>
        <a class="red item" href="/auth/logout">Déconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item active" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans-100.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item active" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FirstName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/my_orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Réglages</a>
                                <a class="black item" href="/auth/logout">Déconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container" id="order-pricing">
            <div class="stackable" style="max-width: 640px; margin: 60px auto">
                <div style="margin: 10px auto">
                    <div class="center">
                        <img src="../assets/img/calculator.png" style="width: 160px;" alt="">
                    </div>
                    <!-- <img src="../assets/img/distance.png" style="width: 150px;" alt=""> -->
                    <h2 class="ui header">Calculez vos frais de livraison</h2>
                    <div class="ui divider"></div>
                    <p>Indiquez le lieu de départ, la destination ainsi que la catégorie du colis afin de calculer le
                        coût de votre livraison.</p>
                </div>
                <form class="ui form">
                    <div class="field">
                        <label>Départ</label>
                        <div class="ui search" id="origin">
                            <div class="ui left icon input">
                                <input class="prompt" type="text" ref="origin" style="border-radius: 0px;"
                                    placeholder="Indiquez un lieu">
                                <i class="map marker alternate icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Destination</label>
                        <div class="ui search" id="destination">
                            <div class="ui left icon input">
                                <input class="prompt" type="text" ref="destination" style="border-radius: 0px;"
                                    placeholder="Indiquez un lieu">
                                <i class="map marker alternate icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Sélectionnez une catégorie</label>
                        <select name="shipmentCategory" v-on:change="calculateCost" v-model="categoryId">
                            <option value=""></option>
                            {{range $key, $value := .shipmentCategories}}
                            <option value="{{$key}}">{{ $value }}</option>
                            {{end}}
                        </select>
                    </div>
                </form>
                <div style="min-height: 200px;" id="order-summary">
                    <div class="order-summary-card" v-if="pricing && !hasError && !loading" v-cloak>
                        <div>
                            <div class="order-summary">
                                <div class="order-summary-item">
                                    <div class="order-summary-item-title">Trajet</div>
                                    <div class="order-summary-item-text" id="path-text">
                                        {origin} - {destination}
                                        <br /> <span v-if="pricing.distance">{pricing.distance.toFixed(2)} km</span>
                                    </div>
                                </div>

                                <div class="order-summary-item">
                                    <div class="order-summary-item-title">Frais de livraison</div>
                                    <div class="order-summary-item-text">
                                        {pricing.cost.toLocaleString()} FCFA
                                    </div>
                                    <small>
                                        *Des frais supplémentaires seront facturés pour les colis de plus de 10kg
                                    </small>
                                </div>
                                <div style="text-align: right">
                                    <a class="ui primary button"
                                        :href="`/order/form?origin=${origin}&destination=${destination}&categoryId=${categoryId}`">CONTINUER<i
                                            class="right arrow icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="loading" style="margin-top: 100px;" v-cloak>
                        <div class="center">
                            <img src="../assets/img/dots_loader.gif">
                        </div>
                    </div>
                    <div v-else-if="hasError" style="margin-top: 100px;text-align: center">
                        Echec de connexion.
                        <a style="cursor: pointer" @click="calculateCost">
                            Réessayer
                        </a>
                    </div>
                </div>
                <div class="ui bottom fixed menu" style="height: 65px;">
                    <div v-if="pricing && !hasError && !loading" v-cloak id="price">
                        <a style="color: #B02025"
                            :href="`/order/form?origin=${origin}&destination=${destination}&categoryId=${categoryId}`">
                            Frais de livraison: <strong>{pricing.cost.toLocaleString()} FCFA</strong></a>
                    </div>
                    <div v-else style="width: 100%;text-align: center; margin-top: 25px;" v-cloak>
                        <div v-if="loading">
                            <img src="../assets/img/dots_loader.gif">
                        </div>
                        <div v-else-if="hasError">
                            Echec de connexion.
                            <a style="cursor: pointer" @click="calculateCost">
                                Réessayer
                            </a>
                        </div>
                        <div v-else>
                            Sélectionnez vos adresses dans la liste d'adresses suggérée
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}
    </div>

</body>

</html>
<script src="../assets/js/order_pricing.js"></script>
{{end}}