{{ define "settings"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <title>Réglages</title>
    <script src="../assets/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/2.2.15/vee-validate.min.js"
        integrity="sha256-m+taJnCBUpRECKCx5pbA0mw4ckdM2SvoNxgPMeUJU6E=" crossorigin="anonymous"></script>
</head>

<body>

    {{ template "default-sidebar" . }}

    <div class="pusher">
        {{ template "default-navbar" . }}

        <!--Home page content-->
        <div class="">
            <div class="ui container full-height" id="setting-app">
                <div id="settings">
                    <h2 class="center">DONNÉES DU COMPTE</h2>
                    <div class="ui divider"></div>
                    <div class="ui negative message" v-if="error" v-cloak>
                        <p>
                            {error}
                        </p>
                    </div>
                    <div class="ui success message" v-else-if="success" v-cloak>
                        <p>
                            {success}
                        </p>
                    </div>
                    <div class="center" style="margin-top: 100px;" v-if="!user" v-cloak>
                        <img src="../assets/img/dots_loader.gif" alt="">
                    </div>
                    <form class="ui form" autocomplete="disabled" v-else @submit.prevent="submitUpdate" v-cloak>
                        <div class="field">
                            <label for="lastName">Nom</label>
                            <input type="text" name="lastName" autocomplete="off" v-validate="{required: true, min: 3}"
                                v-model="user.lastName">
                            <span class="error-label" v-cloak>{ errors.first('lastName') }</span>
                        </div>
                        <div class="field">
                            <label for="firstName">Prénom</label>
                            <input type="text" name="firstName" autocomplete="off" v-validate="{required: true, min: 3}"
                                v-model="user.firstName">
                            <span class="error-label" v-cloak>{ errors.first('fistName') }</span>
                        </div>
                        <div class="field">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" v-model="user.email"
                                v-validate="{required: true, email: true}" disabled data-vv-as="email"
                                autocomplete="disable">
                            <span class="error-label" v-cloak>{ errors.first('email') }</span>
                        </div>
                        <div class="field">
                            <label for="phone">Numéro de mobile</label>
                            <div class="ui labeled input">
                                <div class="ui basic label">
                                    +225
                                </div>
                                <input type="tel" name="phone" v-model="user.phone"
                                    v-validate="{required: true, length: 8}" autocomplete="disable">
                            </div>
                            <span class="error-label" v-cloak>{ errors.first('phone') }</span>
                        </div>
                        <div class="field">
                            <div style="margin-top: 3px">
                                <a href="/profile/update-password">Modifier votre mot de passe</a>
                            </div>
                        </div>

                        <div class="center">
                            <button v-bind:class="{loading: loading, disabled: loading}" class="ui button primary fluid"
                                type="submit">Enregistrer les modifications</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" .}}

    </div>


</body>
<script src="../assets/js/settings.js"></script>

</html>
{{ end }}