
    

        
    .wrapper {
        min-height: 400px;
    }

    [v-clock] {
        display: none;
    }
    
    /* header styling */
    .logo {
        width: 150px;
        height: 60px;
    }
    p, li {
        text-align: justify;
    }

    #mobile-header,
    #desktop-header {
        margin: 0px 0px !important;
    }

    @media only screen and (min-width: 768px) {
        #mobile-header {
            display: none !important;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin: 1em 0em;
        }
    
        .search-input {
            min-width: 500px;
        }
        #map {
            min-height: 550px;
        }
        #desktop-header {
            display: block !important;
        }

        .section-title {
            font-size: 2rem !important;
        }

        .truncate {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .track-header {
            font-size: 22px;
            font-weight: bold;
            color: #B02025;
            padding: 10px 0px;
        }

        .event-title {
            font-size: 18px;
            line-height: 24px;
            margin-top: 10px;
            font-weight: normal;
            position: relative;
        }

        .event-content {
            font-size: 14px;
            line-height: 18px;
            color: #999999;
            margin-top: 3px;
        }

        .track-summary {
            color: #999999;
            font-size: 14px;
            line-height: 18px;
        }
    }
    @media only screen and (max-width: 768px) {
        #mobile-header {
            display: block !important;
        }
        .search-input {
            width: 100%;
        }
        .sidebar.ui.menu {
            font-size: 1.1rem;
        }
        .ui.menu {
            font-size: 0.8rem;
        }
        p{
            font-size: 14px;
            line-height: 1.6;
            margin: 3px 0px;
        }
        #desktop-header {
            display: none !important;
        }
        #map{
            min-height: 300px;
        }

        .truncate {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .track-header {
            font-size: 18px;
            font-weight: bold;
            color: #B02025;
            padding: 10px 0px;
        }

        .event-title {
            font-size: 16px;
            line-height: 18px;
            margin-top: 10px;
            font-weight: normal;
            position: relative;
        }

        .event-content {
            font-size: 12px;
            line-height: 18px;
            color: #999999;
            margin-top: 3px;
        }

        .track-summary {
            color: #999999;
            font-size: 12px;
            line-height: 18px;
        }
        .order-action-btn{
            display: flex !important;
        }
        .order-action-btn .button{
            width: 100%;
        }
    }

    header {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    /* end of header styling */

    #home-landing {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/61/Wegmann_Abidjan_IvoryCoast.jpg");
        min-height: 470px;
        background-size: cover;
        padding: 100px 0px;
    }


    #presentation-section {
        background-image: url("https://pargo.co.za/wp-content/uploads/2019/01/cross-border-click-and-collect-south-africa.jpg");
        background-size: cover;
        min-height: 470px;
        padding-top: 100px;
        padding-bottom: 100px;
        color: white;
    }

    .section-title {
        padding: 30px 0px;
        color: #B02025 !important;
    }


    .big-text {
        font-size: 3rem;
        line-height: 1.28;
        font-weight: 400;
        line-height: 1.28em;
        color: black;
    }

    .center {
        text-align: center;
    }

    #home .card {
        padding: 35px 0px !important;
    }

    .section-title {
        padding: 20px 0px;
        color: #B02025 !important;
        text-align: center;
    }


    #map {
        top: 0;
        bottom: 0;
        width: 100%;
        border: 2px solid #B02025;
    }

    .ui.list {
        margin: 2rem 0;
    }

    #conditions {
        margin-top: 60px;
    }


    #conditions ol {
        line-height: 22px;
        font-weight: 400;
    }

    li {
        margin: 15px 0px;
    }

    .ae-column {
        max-width: 700px;
        margin: 40px auto;
    }


    #pricing-form {
        min-height: 500px;
    }

    .pricing {
        max-width: 500px;
        margin: 40px auto 0px auto;
    }

    #price {
        margin-top: 80px;
    }

    .price-text {
        color: #B02025;
        font-size: 45px;
    }

    #conditions {
        margin-top: 60px;
    }


    #conditions ol {
        line-height: 22px;
        font-weight: 400;
    }

    /* service */
    #services-head {
        width: 100%;
        min-height: 300px;
        background-image: url("https://www.wapecc.com/wp-content/uploads/2018/08/CP54TP_70_cropped-1-1168x695.jpg");
        background-size: cover;
    }

    #services-head p {
        line-height: 1.28;
        font-weight: 500;
        line-height: 1.6;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding: 50px 0px;
    }

    .service-row {
        padding: 40px 0px;
        min-height: 350px;
    }

    .service-row i {
        color: #B02025;
        margin-bottom: 30px !important;
    }

    .service-row p {
        font-size: 16px;
        line-height: 1.6;
        margin: 1em 0em;
    }

    .service-row a {
        color: #B02025;
    }

    .service-row a:hover {
        text-decoration: underline;
    }

    .service-row h2 {
        color: #B02025;
    }
/* end of service */


#settings {
    max-width: 540px;
    margin: 40px auto;
}

/* tracking css */

#tracking-app {
    min-height: 450px;
}

#tracking-input {
    max-width: 640px;
    height: 100%;
    margin: 40px auto;
    text-align: center;
}

#tracking-wrapper {
    max-width: 640px;
    min-height: 350px;
    margin: 40px auto;
}

#tracking-app .card .icon {
    color: #B02025 !important;
}


#tracking-app .card .event {
    line-height: 24px !important;
    position: relative !important;
}



.track-status {
    font-size: 16px;
    line-height: 18px;
    color: #999999;
    margin-top: 3px;
}



.track-head:hover {
    cursor: pointer;
    background-color: #ededed !important;
}

.details {
    display: none;
    margin: 0px !important;
}

.tracking-item {
    margin: 10px 0px;
}

/* end of tracking css */

.no-orders{
    padding: 100px 0px;
    text-align: center;
    font-size: 25px;
    color: #999999;
    line-height: normal;
}
