{{define "404"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="/assets/css/blank.css">
    <title>Réinitialisation du mot de passe</title>
</head>

<body>
    <div>
        <div class="blank center">
            <div style="margin-top: 60px;">
                <a href="/">
                    <img src="/assets/img/logo_red.png" class="image logo">
                </a>
            </div>
            <div style="margin-top: 30px;">
                <img src="/assets/img/404-error.png" alt="">
            </div>
            <h2 class="center">DÉSOLÉ ! LA PAGE QUE VOUS RECHERCHEZ N'EXISTE PAS.</h2>
            <div style="margin-top: 20px">
                <a href="/" class="ui button primary">RETOUR À LA PAGE D'ACCEUIL</a>
            </div>
        </div>
    </div>
</body>


</html>
{{end}}