{{ define "confirm-order"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}

    <title>VALIDEZ VOTRE COMMANDE</title>
</head>
<style>
    .column {
        max-width: 500px;
        margin: 40px auto;
    }
</style>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item active" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/pricing">Coût de livraison</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item active" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/pricing">Coût de livraison</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container">
            <div style="margin: 20px 0px">
                <h2 class="section-title">VALIDEZ VOTRE COMMANDE</h2>
                <p class="center">Vérifiez les informations renseignées avant de valider votre commande.</p>
            </div>
            <div class="ui divider">
            </div>

            <div class="column">
                <div class="ui fluid raised card">
                    <div class="content">
                        <h4 class="ui dividing header">EXPEDITEUR</h4>
                        <p>{{ .order.Sender.Name }}</p>
                        <P>{{ .order.Sender.City.Name}}</P>
                        <p>{{ .order.Sender.Address}}</p>
                        <p>Téléphone: {{ .order.Sender.Phone}}</p>
                        <h4 class="ui dividing header">DESTINATAIRE</h4>
                        <p>{{ .order.Receiver.Name }}</p>
                        <P>{{ .order.Receiver.City.Name}}</P>
                        <p>{{ .order.Receiver.Address}}</p>
                        <p>Téléphone: {{ .order.Receiver.Phone}}</p>
                        <h4 class="ui dividing header">INFORMATION SUR LE COLIS</h4>
                        <p>{{ .order.Nature }}</p>
                        <p>Poids: {{ .order.ShipmentCategory.Name }}</p>
                        <p>{{ .order.Note }}</p>
                        <h4 class="ui dividing header">MODE DE PAIEMENT</h4>
                        <p>{{ .order.PaymentType.Name }}</p>
                        <h4 class="ui dividing header">COUT DE LA LIVRAISON</h4>
                        <p style="text-align: right; font-weight: bold">{{ .order.Cost }} FCFA</p>

                        <div class="description">
                            <p></p>
                        </div>
                    </div>
                    <div style="display: none">
                        <form class="ui form segment" id="order-form" action="/order/confirm" method="POST">
                            <h4 class="ui dividing header">EXPEDITEUR</h4>
                            <div class="two fields">
                                <div class="field">
                                    <label>Nom et prénom</label>
                                    <input type="text" name="senderName" value="{{ .order.Sender.Name }}">
                                </div>
                                <div class="field">
                                    <label>Téléphone</label>
                                    <input type="tel" name="senderPhone" maxlength="16"
                                        value="{{ .order.Sender.Phone }}">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Ville / Commune</label>
                                    <select class="ui search fluid dropdown" name="senderCityId">
                                        <option selected value="{{ .order.Sender.City.ID }}"></option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Adresse</label>
                                    <input type="text" name="senderAddress" value="{{ .order.Sender.Address }}">
                                </div>
                            </div>
                            <h4 class="ui dividing header">DESTINATAIRE</h4>
                            <div class="two fields">
                                <div class="field">
                                    <label>Nom et prénom</label>
                                    <input type="text" name="receiverName" value="{{ .order.Receiver.Name }}">
                                </div>
                                <div class="field">
                                    <label>Téléphone</label>
                                    <input type="tel" name="receiverPhone" value="{{ .order.Receiver.Phone }}">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Ville / Commune</label>
                                    <select class="ui search fluid dropdown" name="receiverCityId">
                                        <option selected value="{{ .order.Receiver.City.ID }}"></option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Adresse</label>
                                    <input type="text" name="receiverAddress" value="{{ .order.Receiver.Address }}">
                                </div>
                            </div>
                            <h4 class="ui dividing header">INFORMATION SUR LE COLIS</h4>
                            <div class="two fields">
                                <div class="field">
                                    <label>Poids du colis</label>
                                    <select class="ui search dropdown" name="ShipmentCategoryId">
                                        <option selected value="{{ .order.ShipmentCategory.ID }}"></option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Nature</label>
                                    <input type="text" name="nature" value="{{ .order.Nature }}">
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="field">
                                <label>Note</label>
                                <textarea name="note" cols="30" rows="3">{{.order.Note}}</textarea>
                            </div>
                            <h4 class="ui dividing header">MODE DE PAIEMENT</h4>
                            <div class="grouped fields">
                                <label for="paymentType">Selectionner votre mode paiement:</label>
                                {{if eq .order.PaymentType.ID 2 }}
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="paymentTypeId" value="1" tabindex="0" class="hidden">
                                        <label>Paiement cash à la collecte</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="paymentTypeId" value="2" checked tabindex="0"
                                            class="hidden">
                                        <label>Paiement cash à la livraison</label>
                                    </div>
                                </div>
                                {{ else }}
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="paymentTypeId" value="1" checked tabindex="0"
                                            class="hidden">
                                        <label>Paiement cash à la collecte</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="paymentTypeId" value="2" tabindex="0" class="hidden">
                                        <label>Paiement cash à la livraison</label>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </form>
                    </div>
                    <div class="extra content">
                        <button class="ui red button fluid" onclick="submitOrder()">
                            Valider la commande</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}
    </div>
</body>

</html>

{{end}}