{{ define "order-pricing"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3yF2GOndSJqklHFWyMoEIHus91xFYjaI&libraries=places"></script>
    <title>Commande de livraison Akwaba Express</title>
</head>
<style>
    .order-summary-card {
        background: white;
        box-shadow: 0px 2px 2px 0px #b3b3b3;
        transition: box-shadow 0.1s ease-in-out;
        margin: 20px auto 0;
        font-size: 14px;
        line-height: 18px;
        color: #999999;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .order-summary {
        margin-top: 80px;
        padding: 15px;
    }

    .order-summary-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .order-summary-item-title {
        font-size: 1rem;
        line-height: 1.09;
        color: #B02025;
    }
</style>

<body>

    <!-- Sidebar for mobile de vices -->
    <div class="ui vertical inverted right sidebar menu">
        {{if .user.ID}}
        <a class="red item truncate" style="margin-top: 10px"><span>{{.user.FullName}} </span></a>
        <a class="red item" href="/profile/orders">Mes commandes</a>
        <a class="red item" href="/profile/settings">Reglages</a>
        <a class="red item" href="/auth/logout">Deconnexion</a>

        {{else}}
        <a class="red item" href="/auth/login" style="margin-top: 10px">Connexion</a>
        {{end}}
        <hr>
        <a class="red item" href="/services">Nos services</a>
        <a class="red item active" href="/order/pricing">Commande</a>
        <a class="red item" href="/tracking">Suivi de colis</a>
        <a class="red item" href="/about">À propos</a>
    </div>

    <div class="pusher">
        <header>
            <!-- Mobile header -->
            <div id="mobile-header" class="ui red inverted secondary menu">
                <div class="ui container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <div class="right red menu">
                        <a class="item" onclick="showSideBar()">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--Desktop header-->
            <div id="desktop-header" class="ui large menu inverted">
                <div class="ui primary container">
                    <a class="red item" href="/">
                        <img class="ui image logo" src="../assets/img/logo_trans.png">
                    </a>
                    <a class="red item" href="/services">Nos services</a>
                    <a class="red item active" href="/order/pricing">Commande</a>
                    <a class="red item" href="/tracking">Suivi de colis</a>
                    <a class="red item" href="/about">À propos</a>
                    <div class="right menu">
                        {{if .user.ID}}
                        <div class="ui dropdown item">
                            <span class="truncate">{{.user.FullName}}</span> <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="black item" href="/profile/orders">Mes commandes</a>
                                <a class="black item" href="/profile/settings">Reglages</a>
                                <a class="black item" href="/auth/logout">Deconnexion</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <a class="ui primary button" href="/auth/login">Connexion</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </header>
        <div class="ui container" id="order-pricing">
            <div class="stackable" style="max-width: 640px; margin: 60px auto">
                <div>
                    <div class="center">
                        <img src="../assets/img/calculator.png" style="width: 160px;" alt="">
                    </div>
                    <!-- <img src="../assets/img/distance.png" style="width: 150px;" alt=""> -->
                    <h2 class="ui header">Calculer le tarif et les délais d'envoi de votre colis</h2>
                    <div class="ui divider"></div>
                    <p>Indiquez le lieu de depart, la destination ainsi que le poids du colis afin de calculer le
                        coût de votre livraison.</p>
                </div>
                <form class="ui form">
                    <div class="field">
                        <label>Depart</label>
                        <div class="ui left icon input">
                            <input ref="origin" style="border-radius: 0px;" type="text">
                            <i class="map marker alternate icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Destination</label>
                        <div class="ui left icon input">
                            <input ref="destination" style="border-radius: 0px;" type="text">
                            <i class="map marker alternate icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Selectionnez un catégorie</label>
                        <select name="shipmentCategory" v-on:change="calculateCost" v-model="categoryId">
                            <option value=""></option>
                            {{range $key, $value := .shipmentCategories}}
                            <option value="{{$key}}">{{ $value }}</option>
                            {{end}}
                        </select>
                    </div>
                </form>
                <div style="min-height: 200px;" id="order-summary">
                    <div class="order-summary-card" v-if="hasSummary" v-cloak>
                        <div>
                            <div class="order-summary">
                                <div class="order-summary-item">
                                    <div class="order-summary-item-title">Trajet</div>
                                    <div class="order-summary-item-text" id="path-text">
                                        {origin.name} - {destination.name}
                                        <br /> {pricing.distance.toFixed(2)}
                                        km
                                    </div>
                                </div>

                                <div class="order-summary-item">
                                    <div class="order-summary-item-title">Coût de la livraison</div>
                                    <div class="order-summary-item-text">
                                        {pricing.cost} FCFA
                                    </div>
                                </div>
                                <div class="order-summary-item">
                                    <div class="order-summary-item-title">Temps d'expédition</div>
                                    <div class="order-summary-item-text" id="duration-text">
                                        Livraison en 5 heures maximum
                                    </div>
                                </div>
                                <div style="text-align: right">
                                    <a class="ui primary button"
                                        :href="`/order/form?origin=${origin.name}&destination=${destination.name}&categoryId=${categoryId}`">CONTINUER<i
                                            class="right arrow icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="loading" style="margin-top: 100px;" v-cloak>
                        <div class="center">
                            <img src="../assets/img/dots_loader.gif">
                        </div>
                    </div>
                </div>
                <div class="ui bottom fixed menu" style="height: 65px;">
                    <div v-if="hasSummary && !loading" v-cloak id="price">
                        <a style="color: #B02025"
                            :href="`/order/form?origin=${origin.name}&destination=${destination.name}&categoryId=${categoryId}`">
                            Coût de la livraison <strong>{pricing.cost} FCFA</strong></a>
                    </div>
                    <div v-else style="width: 100%;text-align: center; margin-top: 25px;" v-cloak>
                        <div v-if="loading">
                            <img src="../assets/img/dots_loader.gif">
                        </div>
                        <div v-else>
                            Selectionnez vos adresses dans la liste d'adresses suggérée
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        {{ template "footer" . }}
    </div>

</body>

</html>
<script src="../assets/js/order_pricing.js"></script>
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3yF2GOndSJqklHFWyMoEIHus91xFYjaI&libraries=places&callback=initMap"></script> -->

{{end}}