{{define "registration"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ template "common-head" .}}
    <link rel="stylesheet" href="../assets/css/blank.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
    <title>INSCRIPTION</title>
</head>

<body>
    <div class="ui aligned" id="registration-app">
        <div class="blank">
            <div class="center">
                <a href="/">
                    <img src="../assets/img/logo_red.png" class="logo">
                </a>
            </div>
            <h3 class="ui center red">
                INSCRITPION
            </h3>
            <P class="center">Inscrivez-vous pour enregistrer les numéros de suivi de vos colis et recevoir des
                notifications.
            </P>
            <div class="ui divider"></div>
            <form class="ui form" @submit.prevent="sendRegistration">
                <div class="ui stacked ">
                    <div class="field">
                        <label for="name">Nom et prénom</label>
                        <input type="text" name="name" autocomplete="disable" v-validate="{required: true, min: 3}"
                            v-model="user.FullName">
                        <span class="error-label" v-cloak>{ errors.first('name') }</span>
                    </div>
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" v-model="user.email" v-validate="{required: true, email: true}"
                            data-vv-as="email" autocomplete="disable">
                        <span class="error-label" v-cloak>{ errors.first('email') }</span>
                    </div>
                    <div class="field">
                        <label for="phone">Numéro de mobile</label>
                        <input type="tel" name="phone" v-model="user.phone" v-validate="{required: true, length: 16}"
                            v-mask="'+225 ## ## ## ##'" autocomplete="disable">
                        <span class="error-label" v-cloak>{ errors.first('phone') }</span>
                    </div>
                    <div class="field">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" v-validate="{required: true, min: 4}"
                            v-model="user.password" autocomplete="disable">
                        <span class="error-label" v-cloak>{ errors.first('password') }</span>
                    </div>
                    <div class="field">
                        <label for="password2">Répétez le mot de passe</label>
                        <input type="password" name="password2" v-validate="{is: user.password}"
                            v-model="confirmPassword" autocomplete="disable">
                        <span class="error-label" v-cloak>{ errors.first('password2') }</span>
                    </div>
                    <div v-if="error" class="center" style="margin: 10px 0px;" v-cloak>
                        <span class="error-label">{error}</span>
                    </div>
                    <div class="center">
                        <button class="ui primary button submit"
                            v-bind:class="{loading: loading, disabled: loading}">Inscritpion</button>
                    </div>
                    <div style="margin-top: 10px;" class="muted-txt">
                        En vous inscrivant, vous acceptez les <a href="/general-conditions" class="red-link">conditions
                            d' utilisation</a> et <a href="/privacy-policy" class="red-link">la politique de
                            confidentialité</a> concernants le traitements des données
                        de
                        l'utilisateur.
                    </div>
                </div>

            </form>
            <div class="ui divider">

            </div>
            <div class="muted-txt">
                Si vous êtes déjà inscrit, <a href="/auth/login" class="red-link">Connectez-vous</a>
            </div>
        </div>
    </div>
</body>
<script src="../assets/js/semantic.min.js"></script>

<script>
    // axios.defaults.timeout = 60000;
    const dictionary = {
        en: {
            custom: {
                name: {
                    required: 'Veuillez saisir votre nom et prénom.',
                    min: 'Votre nom et prénom ne peuvent pas être trop courts',
                },
                phone: {
                    required: 'Veuillez saisir un numéro de mobile valide',
                    length: 'Veuillez saisir un numéro de mobile valide',
                },
                email: {
                    required: 'Veuillez saisir une adresse e-mail valide',
                    email: 'Veuillez saisir une adresse e-mail valide',
                },
                password: {
                    required: 'Votre mot de passe doit contenir au moins 4 caractères',
                    min: 'Votre mot de passe doit contenir au moins 4 caractères'
                },
                password2: {
                    is: 'Les mots de passe saisis ne sont pas identiques.',
                }
            }
        }
    }

    Vue.options.delimiters = ['{', '}'];
    Vue.use(VueTheMask)
    Vue.use(VeeValidate, {
        mode: 'lazy',
        events: 'blur',
        dictionary: dictionary,
    });
    // action="/auth/registration" method="POST"

    function User() {
        return {
            fullName: null,
            email: null,
            phone: null,
            password: null,
        }
    }
    var registrationApp = new Vue({
        el: "#registration-app",
        data() {
            return {
                user: User(),
                confirmPassword: null,
                loading: false,
                error: null,
            }
        },
        methods: {
            sendRegistration: async function () {
                const isValid = await this.$validator.validate();

                if (!isValid) {
                    return
                }

                this.loading = true;
                try {
                    let response = await axios.post("/auth/registration", this.user);
                    console.log(response);
                    this.loading = false;
                    window.location.href = '/'
                } catch (error) {
                    this.loading = false;
                    console.log(error.response)
                    if (error.response) {
                        var status = error.response.status;
                        if (status === 401) {
                            this.error = error.response.data.message;
                            return
                        }
                        this.user = error.response.data.user;
                        console.log(error.response);
                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        // Something happened in setting up the request and triggered an Error
                        console.log('Error', error.message);
                    }
                }
            }
        },
    })
</script>

</html>

{{end}}